/*------fixbug------*/
nav,
input { outline: none; }
#page { min-height: 900px; }
/*------font------*/
html,
.more-link { font-family: "Arial", "Verdana", "宋体"; color: #585858; font-size: 12px; }
#header,
#footer,
#page-title,
.q-title,
.node-title,
.title,
.block-title,
.menu__item { font-family: "Microsoft Yahei", "微软雅黑" !important; }
/*all*/
.page-index #page { background: none; box-shadow: none; }
.sidebar-second #content { float: left; width: 690px; padding: 15px !important; border: 1px #CCCCCC solid !important; overflow: hidden; }
.page-groups #content { border: none !important; padding: 0px !important; }
/*.sidebar-first #content { margin-left: 231px; width: 733px; background: none; padding: 0; border: none!important }*/
.sidebar-first #content { width: 730px; margin-left: 230px; margin-right: -960px; }
.front.sidebar-first #content { width: 732px; }
.two-sidebars #content { width: 500px; margin-left: 191px; margin-right: -960px; }
#content h1.page__title { font-size: 16px; border-bottom: 1px solid #ccc; padding-bottom: 14px; }
#content .view-content { float: left; width: 100%; }
.messages--status a { color: #0066CC; }
/*---index--*/
.front #block-views-exposure-platform-slideshow .block-title { text-indent: -9999px; overflow: hidden; }
.front #sbq-hhb-title { display: none; }
/*login*/
.page-customer-register .tabs-primary,
.page-doctor-register .tabs-primary,
.page-user-login .tabs-primary,
.page-customer .tabs-primary { display: none; }
/*------page-user------*/ 
.logged-in.page-user #page-title { display: none; }
.page-user .tabs-primary,
.page-user .field-widget-image-image,
.page-user #edit-field-tags { display: none; }
.page-user .profile { display: none; }
.page-user .text-format-wrapper .form-item { float: left; width: 100%; margin: 0px; }
.page-user .field-widget-text-textarea-with-summary { float: left; width: 100%; }
.page-user .field-widget-text-textarea-with-summary .resizable-textarea { float: left; width: 100%; padding: 6px 0px 0px 0px; background: url(../images/pb2.png) no-repeat left top; }
.page-user #block-sbq-commons-sbq-quick-ask .form-actions { float: left; width: 56px; height: 56px; position: absolute; right: 0; top: 33px; z-index: 1; overflow: hidden; font-size: 14px; }
.page-user #block-sbq-commons-sbq-quick-ask .form-submit { width: 56px; height: 56px; line-height: 56px; margin: 0px; padding: 0px; background: #16AFC2; color: #FFF; text-align: center; border: none; }
.page-user #block-sbq-commons-sbq-quick-ask .form-actions .ajax-progress { float: left; width: 56px; height: 56px; position: absolute; right: 0; top: 0px; z-index: 2; overflow: hidden; }
.page-user #block-sbq-commons-sbq-quick-ask .form-actions .ajax-progress .message { width: 56px; height: 56px; line-height: 56px; margin: 0px; padding: 0px; background: #E5E5E5; color: #666; text-align: center; }
.page-user #block-sbq-commons-sbq-quick-ask .form-actions .ajax-progress .throbber { display: none; }
.page-user #content .view-content { float: none; }
.page-user #content .block { float: left; width: 100%; margin: 0px 0px 15px 0px; position: relative; }
.page-user #content .block .block { margin: 0px; }
#content .more-link { position: absolute; right: 0; top: -23px; z-index: 1; background: url(../images/more.png) no-repeat; background-position: right; }
#content .more-link a { padding: 0px 14px 2px 0px; }
.page-user #block-views-blog-my-blog-block .more-link { top: 20px; right: 10px; }
.page-user #edit-body-und-0-value { float: left; width: 444px; height: 56px; line-height: 23px; padding: 5px; color: #a3a3a3; border: none; resize: none; background: transparent; }
.page-user .grippie { float: left; }
.page-user .text-format-wrapper .form-item #block-sbq-commons-sbq-quick-ask #edit-actions--2 { position: relative; right: 0px; top: 26px; z-index: 1; }
.page-user .sbq-user-add-post { height: 22px; line-height: 22px; position: absolute; right: 260px; top: 0px; background: url(../images/post2.png) no-repeat left -22px; font-size: 16px; padding-left: 29px; display: inline-block; font-weight: 700; z-index: 9; }
#body-add-more-wrapper label { height: 22px; line-height: 22px; background: url(../images/post.png) no-repeat left center; padding-left: 29px; font-size: 16px; color: #585858; margin-bottom: 5px; }
.page-user #block-sbq-commons-sbq-quick-ask { position: relative; }
.page-user .sbq-user-add-post a { color: #585858; }
.page-user #content .messages--status { float: left; width: 100%; margin: 0px 0px 20px 0px;/* position: absolute; top: 0; left: 0; z-index: 999; opacity:0.6; */ }
.page-user .region-sidebar-second .ajax-progress { display: none; }
.page-user #edit-og-group-ref { display: none; }
/*user-login-form*/
#user-login-form .captcha { width: 186px; margin: 0 auto; padding: 10px 0px 15px 0px; border: none; }
#user-login-form .captcha .fieldset-description { display: none; }
#user-login-form .captcha legend { float: left; width: 100%; display: none; }
#user-login-form .captcha .fieldset-legend { float: left; width: 100%; height: 36px; line-height: 36px; }
#user-login-form .captcha .fieldset-wrapper { margin: 0px; padding: 0px; }
#user-login-form .captcha .fieldset-wrapper .reload-captcha-wrapper { display: none; }
#user-login-form .captcha .fieldset-wrapper .description { display: none; }
#user-login-form .captcha .fieldset-wrapper .reload-captcha-wrapper a { color: #000; }
#user-login-form .captcha .fieldset-wrapper .form-text { float: left; width: 90px; height: 34px; line-height: 20px; margin: 0px 5px 0px 0px; background-color: #FFFFFF; border: 1px solid #CCCCCC; border-radius: 4px; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.071); color: #555555; font-size: 14px; padding: 6px 12px; vertical-align: middle; }
#user-login-form .captcha .fieldset-wrapper img { float: left; height: 34px; cursor: pointer; }
/*user-info-from-cookie*/
#sbq_doctor_quick_register .user-info-from-cookie .form-wrapper { margin: 1.5em 0px; padding: 0px; border: none; }
#sbq_doctor_quick_register .user-info-from-cookie legend { float: left; }
#sbq_doctor_quick_register .user-info-from-cookie .fieldset-wrapper { float: left; /*width: 300px;*/ margin: 0px; padding: 0px; }
#sbq_doctor_quick_register .user-info-from-cookie .form-wrapper .fieldset-legend { display: inline-block; font-size: 14px; font-weight: 400; margin-right: 10px; text-align: center; width: 70px; }
#sbq_doctor_quick_register .user-info-from-cookie .field-widget-image-image .form-item { margin: 0px; }
#sbq_doctor_quick_register .user-info-from-cookie .field-widget-image-image .image-widget-data { margin: 0px !important; }
#sbq_doctor_quick_register .user-info-from-cookie .captcha .fieldset-wrapper { width: 300px; }
#sbq_doctor_quick_register .user-info-from-cookie .captcha .form-item { float: left; margin: 0px; }
#sbq_doctor_quick_register .fieldset-description,
#sbq_doctor_quick_register .reload-captcha-wrapper,
#sbq_doctor_quick_register .captcha label { display: none; }
#sbq_doctor_quick_register .user-info-from-cookie .captcha img { margin: 0px 0px 0px 10px; height: 34px; }
#sbq_doctor_quick_register .modal-header { background: url(../images/quick_register_head.png) repeat-x !important; }
#edit-profile-doctor-private-profile-field-doctor-license-und-0-upload-button { display: none !important; }
.front .sbq_doctor_register_button #status { display: none !important; }
/*right*/ 
.region-sidebar-second { width: 260px !important; margin-left: 700px !important; }
.region-sidebar-second .contextual-links-region .more-link,
.region-sidebar-second .block-views .more-link { background: #F00; position: absolute; top: 5px; right: 5px; background: url(../images/wm.png) no-repeat right center; }
.region-sidebar-second .contextual-links-region .more-link a,
.region-sidebar-second .block-views .more-link a { padding-right: 15px; }
/*------20063------*/
.page-node-20063 { }
/*user left*/
#block-sbq-commons-sbq-user-profile { float: left; width: 100%; padding: 5px; margin: 0px; background-color: #f2feff; font-size: 12px; }
#block-sbq-commons-sbq-user-profile em { font-size: 12px; }
#block-sbq-commons-sbq-user-profile #sbq_name { margin: 10px 0px 0px 0px; }
#block-sbq-commons-sbq-user-profile .item-list { float: left; width: 80px; overflow: hidden; }
#block-sbq-commons-sbq-user-profile .item-list li { float: left; width: 100%; height: 20px; line-height: 20px; font-size: 12px; overflow: hidden; word-break: break-all; word-wrap: break-word; }
#block-sbq-commons-sbq-user-profile #user_badges { float: left; width: 100%; height: 16px; margin: 5px 0px 0px 0px; overflow: hidden; }
#block-sbq-commons-sbq-user-profile #user_badges span { float: left; height: 16px; line-height: 16px; margin: 0px 5px 0px 0px; }
#block-sbq-commons-sbq-user-profile #user_badges .user_badges { float: left; height: 16px; height: 16px; margin: 0px 2px 0px 0px !important; }
#block-sbq-commons-sbq-user-profile #user_badges .user_badges img { float: left; max-width: none; width: 16px; height: 16px; margin: 0px !important; }
#block-views-disease-block { float: left; width: 100%; border-top: 1px solid #cccccc; }
#block-sbq-commons-sbq-user-menu { float: left; width: 100%; }
/*user right*/
.sidebars .info { float: left; width: 170px; margin: 4px 0px 0px 0px; }
.sidebars .warp-nb { float: left; width: 100%; height: 20px; line-height: 20px; overflow: hidden; }
.sidebars .name { float: left; max-width: 110px; }
.sidebars .user_badges { float: left; max-width: 60px; height: 20px; overflow: hidden; }
.sidebars .user_badges img { float: left; width: 16px; height: 16px; margin: 2px !important; border: none; overflow: hidden; }
/*------page-questions-my-answer LIST------*//*------page-groups-my-post LIST------*/
.page-questions-my-answer #content .views-row,
.page-groups-my-post #content .views-row { float: left; width: 100%; height: 32px; line-height: 32px; border-bottom: 1px dashed #CACACA; font-size: 12px; overflow: hidden; }
.page-questions-my-answer #content .views-field,
.page-groups-my-post #content .views-field { float: left; height: 32px; color: #A3A3A3; overflow: hidden; }
.page-questions-my-answer #content .views-row .views-field-title,
.page-groups-my-post #content .views-row .views-field-title { width: 416px; height: 32px; padding: 0px 10px 0px 14px; overflow: hidden; background: url(../images/dot.png) no-repeat 4px center; overflow: hidden; }
.page-questions-my-answer #content .views-row .views-field-value,
.page-groups-my-post #content .views-row .views-field-value { width: 60px; padding: 0px 5px 0px 20px; background: url(../images/thumbs-up.png) no-repeat 0 center; }
.page-groups-my-post #content .views-row .views-field-comment-count { width: 60px; padding: 0px 5px 0px 20px; background: url(../images/message.png) no-repeat 0 center; }
.page-questions-my-answer #content .views-row .views-field-field-mark-question-resolved { width: 60px; color: #1DC7DB; }
.page-questions-my-answer #content .views-row .views-field-created,
.page-groups-my-post #content .views-row .views-field-created { width: 120px; text-align: right; }
.page-groups-my-post #page-title { width: 100%; height: 39px; padding: 0px 0px 14px 0px; color: #000; background: none; text-align: left; border-bottom: 1px solid #ccc !important; }
/*
.user-info-from-cookie { float: left; width: 100%; }
.user-info-from-cookie .form-item { float: left; width: 100%; margin: 10px 0px 0px 0px; }
.user-info-from-cookie .form-item .form-item-pass-pass1 { margin: 0px !important; }
.user-info-from-cookie .form-type-password-confirm .password-strength,
.user-info-from-cookie .form-type-password-confirm .password-confirm { display: none; }
.user-info-from-cookie .form-type-password-confirm .form-item-pass-pass2 input { display: block !important; }
.user-info-from-cookie label,
.user-info-from-cookie .fieldset-legend { float: left; display: inline-block; font-weight: normal; margin: 6px 10px !important; text-align: center; width: 70px; font-size: 14px; }
.user-info-from-cookie input { float: left; border-radius: 0px; width: 230px; margin: 0px; }
.user-info-from-cookie .description { display: none !important; }
.user-info-from-cookie .password-suggestions { float: left; width: 100%; }
.user-info-from-cookie .captcha1 { clear: both; width: 100%; }
.user-info-from-cookie .captcha { clear: both; width: 100%; border: none; margin: 0px; padding: 10px 0px 0px 0px; display: block; }
.user-info-from-cookie .captcha .reload-captcha-wrapper { display: none; }
.user-info-from-cookie .captcha .fieldset-description { display: none; }
.user-info-from-cookie .captcha .fieldset-wrapper { margin: 0px 0px 0px 72px !important; }
.user-info-from-cookie .captcha .fieldset-wrapper .form-item { float: left; width: 80px; margin: 0px 0px 0px -190px; }
.user-info-from-cookie .captcha .fieldset-wrapper img { float: left; margin: 0px 0px 0px 100px; }
.user-info-from-cookie .captcha legend { float: left; }
.user-info-from-cookie .captcha label { display: none !important; }
.user-info-from-cookie .captcha .reload-captcha-wrapper { display: none; }
.user-info-from-cookie .form-item-agree { width: auto; padding: 0px; }
.user-info-from-cookie .form-item-agree input { float: left; margin: 2px; }
.user-info-from-cookie .form-item-agree label { float: left; margin: 0px !important; }
.user-info-from-cookie .form-actions { float: left; }
*/
/*admin login*/
.region-bottom a em { font-size: 24px; font-weight: bold; font-style: normal !important; }
.region-bottom li { float: left; width: 100%; height: 40px; line-height: 40px; margin: 2px 0px 0px 0px; }
.region-bottom li a { float: left; width: 100%; height: 40px; line-height: 40px; background: #CCC; }
.region-bottom li a:hover { background: #09F; }
/*lieght box

#sbq_doctor_quick_login_modal .modal-dialog,
#sbq_customer_register_form_modal .modal-dialog,
#sbq_doctor_register_form_modal .modal-dialog,
#user-login .modal-dialog { width: 740px; }
.modal-content { float: left; width: 100%; }
.modal-body { float: left; width: 100%; }
.region-bottom li { float: left; width: 100%; line-height: 30px; }
#sbq_doctor_quick_login_modal .quick-user-login { float: left; width: 190px; }
#sbq_doctor_quick_login_modal .quick-doctor-login { float: left; width: 500px; }
.quick-doctor-login .modal-header .close { color: #FFFFFF; margin-top: 0; opacity: 10; text-shadow: 0 1px 0 #000000; }
#sbq_doctor_quick_register .modal-header h4.modal-title { color: #FFFFFF; font-size: 18px; margin-left: 20px; text-shadow: 0 1px 1px #000000; }
#sbq_doctor_quick_register .modal-content .modal-body { background: url("../images/ruk-bg.png") no-repeat scroll 23px 15px rgba(0, 0, 0, 0); float: left; overflow: hidden; }
#sbq_doctor_quick_register #doctor_register_form { float: right; margin-top: 27px; width: 450px; }
#sbq_doctor_quick_register #block-user-login { float: left; margin-right: 45px; margin-top: 15px; width: 190px; }
#sbq_doctor_quick_register #user_login_form .form-item-name label { display: none; }*/
