.sbq-clearfix {
	*zoom:1
}
.sbq-clearfix:before,.sbq-clearfix:after {
	display:table;
	line-height:0;
	content:""
}
.sbq-clearfix:after {
	clear:both
}
#header,#content,#navigation,.region-sidebar-first,.region-sidebar-second,#footer {
	padding:0
}
#header {
	height:60px;
	background:url(../images/hbg.png) repeat-x 0 -26px;
	margin-top:25px;
	/*margin-bottom:-25px;*/
}
html {
	background-color:#f3f3f3
}
.sbq-width {
	width:960px
}
.sbq-center {
	margin:0 auto
}
.sbq-border {
	border:1px solid #d2d2d2
}
a {
	text-decoration:none;
	color:#000
}
a:hover {
	color:#16b4c7
}
li {
	list-style:none;
}
#footer.region-footer {
	height:160px;
	background-color:#4d4d4d
}
#footer-right,#footer-left{ display:none;}
.header__logo {
	display:block;
	height:55px;
	width:53px;
	/* background:url(../../images/logo.png) no-repeat 0 0;
	*/
}
.header__name-and-slogan {
	margin-left:10px;
	width:250px;
}
.header__site-name {
	float:left;
}
#navigation {
	position:static;
	float:left;
	width:auto;
	height:14px;
	margin-top:26px;
	margin-left:100px;
}
#navigation .links li,#navigation .menu li {
	line-height:1em;
	padding:0 45px 0 0;
}
#navigation .links li a,#navigation .menu li a {
	line-height:1em;
	font-size:14px;
	color:#fff;
	text-decoration:none;
}
#navigation .links li a:hover,#navigation .menu li a:hover {
	}
	#secondary-menu {
		position: fixed; top: 0;left: 0;z-index: 10;
		height: 25px; width: 100%; float: none;
		background:url(../images/hbg.png) repeat-x 0 0;
	font-size:12px;
	color:#fff
}
#secondary-menu a {
	color:#fff;
}
#secondary-menu h2{ display: none;}
#secondary-menu ul{ width: 960px; margin: 0 auto; display: block; text-align: right;}
.header__region.region.region-header {
	float:right;
	width:206px;
	height:36px;
	margin-top:12px;
	clear:none;
	background:url(../images/search.png) no-repeat 0 0;
}
#edit-search-block-form--2 {
	border:none;
	margin:6px 0 0 5px;
	padding-left:5px;
	width:160px;
	height:26px;
}
#edit-search-block-form--2:focus{
	border:none;
}
.header__site-name {
	font-size:30px;
	line-height:1em;
	margin-top:15px
}
.header__site-link,.header__site-link:visited {
	color:#fff
}
.header__site-link:hover {
	text-decoration:none;
}
.header__site-slogan {
	margin:25px 0 0 11px;
	float:left;
	color:#fff;
	font-size:16px;
}
#edit-actions input#edit-submit {
	width:24px;
	height:24px;
	background:url(../images/search.png) 241px -5px;
	text-indent:-1000em;
	border:medium none;
}
#header .sbq-center.sbq-width.sbq-clearfix {
	position:relative;
}
#main {
	padding-top:19px;
}
#page{
	margin-bottom: 33px;
}
.sidebar-first .region-sidebar-first {
	width:220px;
	background-color:#fff
}
.sbq-btn1 {
	width:184px;
	height:34px;
	border:none;
	padding:0;
	font-size:14px;
	color:#fff
}
#edit-submit--2 {
	background:url(../images/btn1.png) no-repeat 0 -223px;
	width:184px;
	height:34px;
	border:none;
	padding:0;
	font-size:14px;
	color:#fff
}
.sidebar-first #content {
	margin-left:231px;
	width:733px;
}
#about-links{ margin-top:45px;}
#about-links,#footer-copy {
	text-align:center;
	color:#fff;
	font-size: 14px;
}
#about-links ul {
	margin:0
}
#about-links li {
	display:inline;
	padding:0 10px
}
#about-links a,#footer-copy a {
	color:#fff;
	font-size:14px;
}
#footer-copy {
	margin-top:28px
}
.block-views .views-row a {
	font-size:14px;
}
.sbq_customer_register_button a {
	background:url(../images/btn1.png) no-repeat 0 bottom;
	display:block;
	width:184px;
	height:34px;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:34px;
	margin:0 auto;
}
#block-user-login{margin: 0}
#block-user-login ul {
	padding:0;
}
#block-user-login .sbq_custom_login:before,
#block-user-login .sbq_custom_login:after {
  clear: both;
  content: "";
  display: table;
}
#block-user-login ul.sbq_custom_login{
	margin: 0 0 36px 19px;
}
#block-user-login ul.sbq_custom_login li{
	display: inline-block; 
	float: left;
	width: 40px;
	height: 40px;
	text-indent: -1000em;
	margin-right: 8px;
}
#block-user-login ul.sbq_request_pass_button a{
	color:#16B4C7;
}
#block-user-login ul.sbq_custom_login li.last{
	margin-right: 0
}
.sbq_login_thirdpart {
	color:#8d8d8d;
	font-size:14px;
	display:block;
	border-top:1px solid #d4d4d4;
	padding-top:23px;
	padding-left:15px
}
#block-user-login .sbq_doctor_register_button {
	height:34px;
	padding-top:90px;
	padding-bottom:23px;
	margin:0;
	background:url(../images/abg.png) no-repeat 0 0;
	border-bottom:1px solid #d4d4d4
}
.user_doctor_register_ajax {
	display:block;
	background:url(../images/btn1.png) no-repeat 0 0;
	text-align:center;
	line-height:34px;
	color:#fff;
	margin:0 auto;
	width:184px;
}
.user_doctor_register_ajax:hover {
	color:#fff
}
#content #sbq-bd-list .block-views {
	float:left;
	width:50%;
	margin-bottom: 0;
	padding-bottom: 40px;
}
#block-views-exposure-platform-block-index {
	background-color:#fff
}
#sbq-bd-list #block-views-exposure-platform-block-index h2{
	background: url(../images/red.png) no-repeat 19px center;
	text-indent: -1000em;
}
#sbq-bd-list #block-views-friend-activities-index h2{
	background: url(../images/black.png) no-repeat 19px center;
	text-indent: -1000em;
}
#block-views-exposure-platform-block-index .view-content,
#block-views-friend-activities-index .view-content{
	padding-top: 15px;
	/*background:url(../images/lt.png) no-repeat 0 27px;*/
} 

.sbq-index-block.sbq-index-block-activities li {
    list-style: decimal outside none;
    height:32px;
     word-wrap: break-word;
}
.sbq-index-block.sbq-index-block-activities li .views-row { height:32px;}
#block-views-exposure-platform-slideshow .view-exposure-platform {
	height:212px;
	overflow:hidden;
	padding:17px 0 17px 19px;
	background-color:#fff
}
#block-views-exposure-platform-slideshow .view-content {
	height:176px;
	overflow:hidden;
}
.sbq-slide-row {
	width:220px;
	height:176px;
	float:left;
	margin-right:17px
}
.views-field-title a {
	font-size:14px;
	line-height:32px;
}
#block-views-exposure-platform-slideshow .block-title {
	font-size:30px;
	font-weight:normal;
	height:1em;
	line-height:1em;
	margin-bottom:9px;
	text-indent:-1000em;
	background:url(../images/bgt.png) no-repeat 19px 0;
}
.view-id-index_activity_blok_image {
	width:756px;
	height:398px;
	background:url(../images/slb.png) no-repeat -12px -50px;
}
.view-id-index_activity_blok_image .field-content {
	width:718px;
	height:312px;
	margin-left:8px;
	overflow:hidden;
	padding-top:9px
}
.view-id-index_activity_blok_image .field-content img {
	width:718px;
	height:318px;
}
#block-views-exposure-platform-slideshow {
	margin-top:-34px
}
.sbq-index-block.sbq-index-block-activities{
	margin:0;
}
#sbq-bd-list .view-id-exposure_platform,
#sbq-bd-list .view-id-friend_activities {
	padding:0 0 0 18px;
	width:347px;
}
#sbq-bd-list .block-title {
	border-bottom:3px solid #16b4c7;
	text-indent:0.7em;
}
#edit-name,#edit-pass {
	width:186px;
	height:36px;
	line-height:36px;
	font-size:14px;
	border:none;
	background:url(../images/user.png) no-repeat 0 0;
	padding-left:28px
}
#edit-pass {
	background:url(../images/lock.png) no-repeat 0 0;
}
#user-login-form .form-item,#user-login-form .form-actions,.sbq_request_pass_button {
	width:186px;
	margin:0 auto
}
#user-login-form .form-item label{ display: none;}
#user-login-form .form-item-name {
	margin:30px auto 24px auto
}
.form-item-remember-me label,.sbq_request_pass_button {
	font-size:12px;
	vertical-align:top;
}
#user-login-form .form-item-remember-me label{
	color:#8d8d8d;
	display: inline;
}
#user-login-form .form-item-remember-me{ margin-left: 17px; width:50%; float:left;}

.sbq_anonymous_visit_button a{ display:block;
	background: url("../images/btn1.png") no-repeat scroll 0 -223px;
    border: medium none;
    color: #FFFFFF;
    font-size: 14px;
    height: 34px;
    line-height:34px;
    padding: 0;
    width: 184px;
    margin:0 auto;
text-align:center;}

.region.region-sidebar-first.column.sidebar{
	border:1px solid #d1d1d1;
}
#block-user-login ul.sbq_custom_login{
	width:184px;
	background:url(../images/tl.png) no-repeat 0 0;
}
#block-user-login ul.sbq_custom_login a{display:block; width:40px; height:40px; outline:none;}

#user-login-form .form-actions.form-wrapper {
    margin-top: 10px;
}
#user-login-form .form-type-password{
	margin-bottom:5px;
}
.sbq_custom_login li:nth-child(1) a {
    background: url("../images/qq.png") no-repeat scroll center center;
}
.sbq_custom_login li:nth-child(2) a {
    background: url("../images/sina.png") no-repeat scroll center center;
}
.sbq_custom_login li:nth-child(3) a {
    background: url("../images/renren.png") no-repeat scroll center center;
}
.sbq_custom_login li:nth-child(4) a {
    background: url("../images/kaxin.png") no-repeat scroll center center;
}
.sbq_custom_login li:nth-child(1) a:hover{
	background:#16b4c7 url("../images/qq1.png") no-repeat scroll center center;
}
.sbq_custom_login li:nth-child(2) a:hover{
	background:#16b4c7 url("../images/sina1.png") no-repeat scroll center center;
}
.sbq_custom_login li:nth-child(3) a:hover{
	background:#16b4c7 url("../images/renren1.png") no-repeat scroll center center;
}
.sbq_custom_login li:nth-child(4) a:hover{
	background:#16b4c7 url("../images/kaixin1.png") no-repeat scroll center center;
}
#sbq-hhb-title .block__title{
	background: url("../images/hhb.png") no-repeat scroll 19px center;
    text-indent: -1000em;
}