.sbq-clearfix { *zoom:1
}
a:focus { outline: none; }
#page,
.region-bottom { width: 980px; background: #FFF; }
#main { padding-top: 19px; position: relative; }
#page { padding: 0px 10px 20px 10px; box-shadow: 0px 0px 5px #CCCCCC; }
.sbq-clearfix:before,
.sbq-clearfix:after { display: table; line-height: 0; content: "" }
.sbq-clearfix:after { clear: both }
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer { padding: 0 }
#header { height: 60px; background: url(../images/hbg.png) repeat-x 0 -26px; margin-top: 25px; position: relative; z-index: 998; }
html { background: url(../images/bg.png) repeat 0 0; }
.sbq-width { width: 960px }
.sbq-center { margin: 0 auto }
.sbq-border { border: 1px solid #d2d2d2 }
a { text-decoration: none; color: #000 }
a:hover { color: #16b4c7 }
li { list-style: none; }
#footer.region-footer { height: 160px; background: url(../images/fbg.jpg) repeat 0 0; }
#footer-right,
#footer-left { display: none; }
.header__logo { display: block; height: 55px; width: 53px;/* background:url(../../images/logo.png) no-repeat 0 0;
	*/ }
.header__name-and-slogan { margin-left: 10px; width: 250px; }
.header__site-name { float: left; }
#navigation { position: static; float: left; width: auto; height: 14px; margin-top: 26px; margin-left: 100px; }
#navigation .links li,
#navigation .menu li { line-height: 1em; padding: 0 45px 0 0; }
#navigation .links li a,
#navigation .menu li a { line-height: 1em; font-size: 14px; color: #deeff2; text-decoration: none; }
#navigation .links li.active a,
#navigation .menu li.active a,
#navigation .links li a:hover,
#navigation .menu li a:hover { color: #fff }
#navigation .links .active-trail a,
#navigation .menu .active-trail a { font-weight: bold; }
#secondary-menu { line-height: 25px; position: fixed; top: 0; left: 0; z-index: 999; height: 25px; width: 100%; float: none; background: url(../images/hbg.png) repeat-x 0 0; font-size: 12px; color: #fff }
#secondary-menu a { color: #fff; }
#secondary-menu h2 { display: none; }
#secondary-menu ul { float: none; width: 960px; margin: 0 auto; display: block; text-align: right; }
.header__region.region.region-header { position: absolute; right: 0; bottom: 8px; width: 206px; height: 36px; clear: none; background: url(../images/search.png) no-repeat 0 0; }
.header__region.region.region-header .contextual-links-region { margin: 0px; }
.header__region.region.region-header .form-item-search-block-form { margin: 0px; }
.header__region.region.region-header #edit-search-block-form--2 { float: left; width: 164px; height: 28px; line-height: 28px; border: none; margin: 4px 0 0 5px; padding: 0 0 0 5px; }
.header__region.region.region-header .form-actions { float: left; width: auto; }
#block-search-form input.form-submit { width: 24px; height: 24px; background: url(../images/search.png) 242px -5px; text-indent: -1000em; border: medium none; margin-top: 4px; }
.header__site-name { font-size: 30px; line-height: 1em; margin-top: 15px }
.header__site-link,
.header__site-link:visited { color: #fff !important; }
.header__site-link:hover { text-decoration: none; }
.header__site-slogan { margin: 25px 0 0 11px; float: left; color: #fff; font-size: 16px; }
#header .sbq-center.sbq-width.sbq-clearfix { position: relative; }
.two-sidebars .region-sidebar-first { width: 182px; margin-right: -182px; }
.sidebar-first .region-sidebar-first,
.not-logged-in.two-sidebars .region-sidebar-first { width: 220px; background-color: #fff }
.sbq-btn1 { width: 184px; height: 34px; border: none; padding: 0; font-size: 14px; color: #fff }
#block-user-login #edit-actions #edit-submit,
#block-user-login #edit-actions--2 #edit-submit--2,
#edit-submit--3 { background: url(../images/btn1.png) no-repeat 0 -223px; width: 184px; height: 34px; border: none; padding: 0; font-size: 14px; color: #fff; margin-bottom: 23px; line-height: 23px }
#about-links { margin-top: 45px; }
#about-links,
#footer-copy { text-align: center; color: #e3e3e3; font-size: 14px; }
#about-links ul { margin: 0 }
#about-links li { display: inline; padding: 0 10px }
#about-links a,
#footer-copy a { color: #e3e3e3; font-size: 14px; }
#footer-copy { margin-top: 28px }
.block-views .views-row a { color: #585858 }
.block-views .views-row a:hover { color: #16B4C7 }
.sbq_customer_register_button a { background: url(../images/btn1.png) no-repeat 0 bottom; display: block; width: 184px; height: 34px; font-size: 14px; color: #fff; text-align: center; line-height: 34px; margin: 0 auto 23px auto; }
#block-user-login { margin: 0; padding-bottom: 30px; }
#block-user-login ul { padding: 0; }
#block-user-login .sbq_custom_login:before,
#block-user-login .sbq_custom_login:after { clear: both; content: ""; display: table; }
#block-user-login ul.sbq_custom_login { margin: 0 0 36px 19px; }
#block-user-login ul.sbq_custom_login li { display: inline-block; float: left; width: 40px; height: 40px; text-indent: -1000em; margin-right: 8px; }
#block-user-login ul.sbq_request_pass_button a { color: #16B4C7; }
#block-user-login ul.sbq_custom_login li.last { margin-right: 0 }
.sbq_login_thirdpart { color: #8d8d8d; font-size: 14px; display: block; border-top: 1px solid #d4d4d4; padding-top: 23px; padding-left: 15px }
#block-user-login .sbq_doctor_register_button { height: 34px; padding-top: 90px; padding-bottom: 47px; margin: 0; position: relative; background: url(../images/abg.png) no-repeat 0 0; border-bottom: 1px solid #d4d4d4 }
.user_doctor_register_ajax { display: block; background: url(../images/btn1.png) no-repeat 0 0; text-align: center; line-height: 34px; color: #fff; margin: 0 auto; width: 184px; }
.sbq_doctor_register_button #status { position: absolute; right: 20px; bottom: 22px }
.user_doctor_register_ajax:hover { color: #fff }
#content #sbq-bd-list ul { padding-left: 30px; }
#content #sbq-bd-list .block-views { float: left; width: 50%; margin-bottom: 0; padding-bottom: 40px; }
#block-views-friend-activities-index,
#block-views-exposure-platform-block-index { position: relative; }
.page-index #block-views-friend-activities-index .more-link,
.page-index #block-views-exposure-platform-block-index .more-link { right: 10px; top: 18px; }
#block-views-friend-activities-index,
.region.region-sidebar-first.column.sidebar { background-color: #fff }
#block-views-exposure-platform-block-index { background-color: #f6f6f6 }
#sbq-bd-list #block-views-exposure-platform-block-index h2 { background: url(../images/black.png) no-repeat 19px center; text-indent: -1000em; width: auto; }
#sbq-bd-list #block-views-friend-activities-index h2 { background: url(../images/red.png) no-repeat 19px center; text-indent: -1000em; width: auto; }
#block-views-exposure-platform-block-index .view-content,
#block-views-friend-activities-index .view-content { padding-top: 15px;/*background:url(../images/lt.png) no-repeat 0 27px;*/ }
.sbq-index-block.sbq-index-block-activities li { list-style: decimal outside none; height: 32px; word-wrap: break-word; line-height: 32px; font-size: 14px; }
.sbq-index-block.sbq-index-block-activities li .views-row { height: 32px; }
#block-views-exposure-platform-slideshow .view-exposure-platform { height: 250px; overflow: hidden; padding: 17px 0 17px 19px; background-color: #fff; border: 1px solid #D2D2D2; }
#block-views-exposure-platform-slideshow .view-content { height: 208px; overflow: hidden; }
.sbq-slide-row { width: 220px; height: 208px; float: left; margin-right: 17px; font-size: 14px; }
.front .sbq-slide-row .views-field-field-image .field-content { float: left; width: 100%; height: 146px; overflow: hidden; }
.front .sbq-slide-row .views-field-title .field-content { float: left; width: 100%; height: 40px; line-height: 20px; overflow: hidden; }
.views-field-title a { line-height: 22px; }
#block-views-exposure-platform-slideshow .block-title { font-size: 30px; font-weight: normal; height: 29px; font-size: 14px; margin-bottom: 9px; text-indent: 10em; line-height: 39px; background: url(../images/bgt.png) no-repeat 19px 0; color: #535353; text-align: left; width: auto; }
.view-id-index_activity_blok_image { width: 731px; height: 340px; margin-bottom: 60px; background: url(../images/slb_02.png) no-repeat center 328px; }
.view-id-index_activity_blok_image .view-content { background-color: #fff }
.view-id-index_activity_blok_image .field-content { width: 718px; height: 328px; margin-left: 5px; overflow: hidden; padding-top: 5px }
.view-id-index_activity_blok_image .field-content img { width: 718px; height: 318px; }
#block-views-exposure-platform-slideshow { margin-top: -34px }
.sbq-index-block.sbq-index-block-activities { margin: 0; }
#sbq-bd-list .view-id-exposure_platform,
#sbq-bd-list .view-id-friend_activities { padding: 0 0 0 18px; width: 365px; }
#sbq-bd-list .block-title { border-bottom: 3px solid #16b4c7; text-indent: 0.7em; height: 57px; line-height: 57px; }
#block-user-login #edit-name,
#edit-pass { width: 186px; height: 36px; line-height: 36px; font-size: 14px; border: none; background: url(../images/user.png) no-repeat 0 0; padding-left: 28px; border: none; box-shadow: none; }
#edit-pass { background: url(../images/lock.png) no-repeat 0 0; }
#user-login-form .form-item,
#user-login-form .form-actions,
.sbq_request_pass_button { width: 186px; margin: 0 auto }
#user-login-form .form-item label { display: none; }
#user-login-form .form-item-name { margin: 30px auto 24px auto }
.form-item-remember-me label,
.sbq_request_pass_button { font-size: 12px; vertical-align: top; }
#user-login-form .form-item-remember-me label { color: #8d8d8d; display: inline; }
#user-login-form .form-item-remember-me { margin-left: 17px; width: 50%; float: left; }
.sbq_anonymous_visit_button a { display: block; background: url("../images/btn1.png") no-repeat scroll 0 -223px; border: medium none; color: #FFFFFF; font-size: 14px; height: 34px; line-height: 34px; padding: 0; width: 184px; margin: 0 auto; text-align: center; }
.region.region-sidebar-first.column.sidebar { border: 1px solid #d1d1d1!important; }
#block-user-login ul.sbq_custom_login { width: 184px; background: url(../images/tl.png) no-repeat 0 0; }
#block-user-login ul.sbq_custom_login a { display: block; width: 40px; height: 40px; outline: none; }
#user-login-form .form-actions.form-wrapper { margin-top: 10px; }
#user-login-form .form-type-password { margin-bottom: 5px; }
.sbq_custom_login li:nth-child(2) a { background: url("../images/qq.png") no-repeat scroll center center; }
.sbq_custom_login li:nth-child(4) a { background: url("../images/sina.png") no-repeat scroll center center; }
.sbq_custom_login li:nth-child(3) a { background: url("../images/renren.png") no-repeat scroll center center; }
.sbq_custom_login li:nth-child(1) a { background: url("../images/kaxin.png") no-repeat scroll center center; }
.sbq_custom_login li:nth-child(2) a:hover { background: #16b4c7 url("../images/qq1.png") no-repeat scroll center center; }
.sbq_custom_login li:nth-child(4) a:hover { background: #16b4c7 url("../images/sina1.png") no-repeat scroll center center; }
.sbq_custom_login li:nth-child(3) a:hover { background: #16b4c7 url("../images/renren1.png") no-repeat scroll center center; }
.sbq_custom_login li:nth-child(1) a:hover { background: #16b4c7 url("../images/kaixin1.png") no-repeat scroll center center; }
#myCarousel,
#block-views-new-groups-doctor-new { position: relative; }
#myCarousel .item:before,
#myCarousel .item:after,
#sbq-user-carousel .item:before,
#sbq-user-carousel .item:after { clear: both; content: ""; display: table; }
.carousel-inner > .item,
#sbq-user-carousel>.item { display: none; position: relative; -webkit-transition: .6s ease-in-out left; transition: .6s ease-in-out left }
.carousel-inner > .active,
#sbq-user-carousel>.active { left: 0; }
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev { display: block; }
#myCarousel .carousel-indicators { height: 15px; margin: 0; padding: 0; left: 50%; margin-left: -25%; position: absolute; bottom: 10px; text-align: center; width: 50%; z-index: 15; }
*,
*:before,
*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.carousel-indicators li { border: 1px solid #FFFFFF; border-radius: 15px; cursor: pointer; display: inline-block; height: 15px; margin: 1px; text-indent: -999px; width: 15px; }
#myCarousel .carousel-indicators li { background: none repeat scroll 0 0 #808080; /*background: url(../images/idx.png) no-repeat right 0\9;*/ }
.carousel-indicators .active { background-color: #16b4c7; height: 15px; width: 15px; }
#myCarousel .carousel-indicators .active { background: none repeat scroll 0 0 #16b4c7; /*background: url(../images/idx.png) no-repeat left 0\9;*/ }
.carousel-inner { position: relative; overflow: hidden; width: 100%; }
.carousel-inner > .item { display: none; position: relative; -webkit-transition: 0.6s ease-in-out left; transition: 0.6s ease-in-out left; }
.carousel-inner > .item > img,
.carousel-inner > .item > a > img { display: block; max-width: 100%; height: auto; line-height: 1; }
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev { display: block; }
.carousel-inner > .active { left: 0; }
.carousel-inner > .next,
.carousel-inner > .prev { position: absolute; top: 0; width: 100%; }
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.left,
.carousel-inner > .prev.right { left: 0; }
.carousel-inner > .active.left { left: -100%; }
.carousel-inner > .active.right { left: 100%; }
.modal { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; display: none; overflow: auto; overflow-y: scroll }
.modal.fade .modal-dialog { -webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); transform: translate(0, -25%); -webkit-transition: -webkit-transform .3s ease-out; -moz-transition: -moz-transform .3s ease-out; -o-transition: -o-transform .3s ease-out; transition: transform .3s ease-out }
.modal.in .modal-dialog { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0) }
.modal-dialog { z-index: 1050; width: auto; padding: 10px; margin-right: auto; margin-left: auto }
.modal-content { position: relative; background-color: #fff; border: 1px solid #999; border: 1px solid rgba(0,0,0,0.2); border-radius: 6px; outline: 0; -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5); box-shadow: 0 3px 9px rgba(0,0,0,0.5); background-clip: padding-box }
.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1030; background-color: #000 }
.modal-backdrop.fade { opacity: 0; filter: alpha(opacity=0) }
.modal-backdrop.in { opacity: .5; filter: alpha(opacity=50) }
.modal-header { min-height: 16.428571429px; padding: 15px; border-bottom: 1px solid #e5e5e5 }
.modal-header .close { margin-top: -2px }
.modal-title { margin: 0; line-height: 1.428571429 }
.modal-body { position: relative; padding: 20px }
.modal-footer { padding: 19px 20px 20px; text-align: right; }/*border-top: 1px solid #e5e5e5*/
.modal-footer:before,
.modal-footer:after,
#block-views-disease-block .views-row-first:after,
#block-views-disease-block .views-row-first:before { display: table; content: " " }
.modal-footer:after,
#block-views-disease-block .views-row-first:after { clear: both }
.modal-footer .btn+.btn { margin-bottom: 0; margin-left: 5px }
.modal-footer .btn-group .btn+.btn { margin-left: -1px }
.modal-footer .btn-block+.btn-block { margin-left: 0 }

@media screen and (min-width:768px) {
.modal-dialog { right: auto; left: 50%; width: 600px; padding-top: 130px; padding-bottom: 30px }
.modal-content { -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5); box-shadow: 0 5px 15px rgba(0,0,0,0.5) }
}
.modal-header { border-bottom: 1px solid #E5E5E5; min-height: 16.4286px; padding: 15px; }
#sbq_doctor_quick_register .modal-dialog .modal-content .modal-header { background: url("../images/lodin_01.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); border-top-left-radius: 5px; border-top-right-radius: 5px; height: 46px; padding: 10px; }
.close { color: #000000; float: right; font-size: 21px; font-weight: bold; line-height: 1; opacity: 0.2; text-shadow: 0 1px 0 #FFFFFF; }
button.close { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 0 none; cursor: pointer; padding: 0; }
label { display: inline-block; font-weight: bold; margin-bottom: 5px; }
.input-group { border-collapse: separate; display: table; position: relative; }
.input-group-addon,
.input-group-btn { vertical-align: middle; white-space: nowrap; width: 1%; }
.input-group-addon { background-color: #EEEEEE; border: 1px solid #CCCCCC; border-radius: 4px; font-size: 14px; font-weight: normal; line-height: 1; padding: 6px 12px; text-align: center; }
.glyphicon { display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; position: relative; top: 1px; }
.views-field-field-tags-disease li { display: inline-block; *display:inline;
zoom: 1; height: 20px; line-height: 20px; text-align: center; margin: 0 7px 7px 0; position: relative; }
.views-field-field-tags-disease li a { padding: 0 7px; display: inline-block; *display:inline;
zoom: 1; color: #168A9B; border: 1px solid #168A9B; border-radius: 3px; position: relative; }
.views-field-field-tags-disease li a.hover { /*background-color: #168a9b*/ }
.views-field-field-tags-disease .sba-user-tag-del { position: absolute; right: -5px; top: -5px; z-index: 2; width: 10px; height: 10px; display: none; }
.views-field-field-tags-disease .show { display: block; }
.block-views .views-field-field-tags-disease li a { color: #168A9B; font-size: 12px; }
.block-views .views-field-field-tags-disease li a:hover { background-color: #168a9b; color: #fff }
.views-field-field-tags-disease span.sba-user-tag-del a { display: block; background-color: #26a0ae; color: #fff; height: 10px; width: 10px; border-radius: 10px; line-height: 7px; text-align: center; padding: 0 }
.views-field-field-tags-disease span.sba-user-tag-del a:hover { color: #fff }
#doctor_register_form .form-required,
#sbq_doctor_quick_register #doctor_register_form #edit-profile-doctor-private-profile-field-doctor-license-und-ajax-wrapper label { display: none; }
#sbq_doctor_quick_register #doctor_register_form .user-info-from-cookie div span.input-group-addon { display: none; }
.form-text { width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.428571429; color: #555; vertical-align: middle; background-color: #fff; border: 1px solid #ccc; border-radius: 4px; }
.input-group .form-control { margin-bottom: 0; width: 100%; }
.input-group-addon,
.input-group-btn,
.input-group .form-control { display: table-cell; }
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) { border-bottom-left-radius: 0; border-top-left-radius: 0; }
#user-register-form div input { border-radius: 0; width: 196px; }
#user-register-form .description { display: none; }
#sbq_doctor_quick_register #edit-profile-doctor-private-profile-field-doctor-license-und-0-upload-button { border: 1px solid #ccc; border-radius: 4px; cursor: pointer; display: inline-block; font-size: 14px; font-weight: normal; line-height: 1.42857; margin-bottom: 0; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap; background: none; color: #000; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none }
.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px }
.btn:hover,
.btn:focus { color: #333; text-decoration: none }
.btn:active,
.btn.active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125); box-shadow: inset 0 3px 5px rgba(0,0,0,0.125) }
#sbq_doctor_quick_register .modal-dialog .modal-content .modal-body #doctor_register_form .user-info-from-cookie div .form-actions input { border: 0 none; border-radius: 0; color: #FFFFFF; height: 34px; margin-left: 80px; padding: 0; text-shadow: 0 1px 1px #000000; width: 190px; }
/*个人中心*/


.not-logged-in.section-qa #content { padding: 0; border: none!important; }
.view-display-id-my_blog .view-content .views-row,
#block-views-blog-my-blog-block .view-content .views-row { height: 32px; line-height: 32px; padding: 0 10px; font-size: 12px; border-bottom: 1px dashed #CACACA; }
#block-views-blog-my-blog-block .view-content .views-row-last { border-bottom: none }
#block-views-message-block .views-field-message-render { padding-left: 14px; background: url("../images/dot.png") no-repeat scroll 4px center }
/*
.not-logged-in.section-qa .region-sidebar-second{
	margin-left: 697px;
}*/
ul,
li { margin: 0; padding: 0 }
.section-users #block-sbq-commons-sbq-user-profile { width: 180px; padding: 4px 4px 0; position: relative; border-bottom: 1px solid #d4d4d4; margin-bottom: 0; background: url(../images/sb.png) repeat-x 0 0; }
#block-sbq-commons-sbq-user-profile #sbq_picture { width: 80px; height: 80px; float: left; margin-right: 9px; }
#block-sbq-commons-sbq-user-profile #sbq_picture img { border: 1px #f3f3f3 solid; }
/*#block-sbq-commons-sbq-user-profile #sbq_name { float: left; width: 59%; margin-top: 21px; }*/
.not-front #block-sbq-commons-sbq-user-profile #sbq_name { width: 80px; height: 20px; line-height: 20px; overflow: hidden; }
#block-views-disease-block { padding: 10px 5px 0 5px; margin-bottom: 10px; }
#block-views-disease-block .view-footer { width: 100%; position: relative; padding: 2px 0px 0px 0px; }
#block-views-disease-block #sbq-user-disease-add-submit { position: absolute; right: 13px; top: 8px; width: 19px; height: 16px; background: url(../images/adt.png) no-repeat 0 0; border: none; text-indent: -1000em; z-index: 1 }
.region-sidebar-second .block-quicktabs.contextual-links-region h2,
.region-sidebar-second .contextual-links-region h2,
#block-views-my-qa-recommend-block h2,
#block-views-questions-tags-block h2,
.block__title.block-title,
.section-square #page-title,
#block-views-news-block-2 h2,
.page-groups #page-title { width: 90px; height: 30px; background-color: #16AFC2; color: #fff; font-weight: normal; text-align: center; line-height: 30px; font-size: 12px; text-indent: 0; border: none; }
.section-square #content .block__title.block-title,
#block-quicktabs-wonderful-qa .block__title.block-title,
.page-square #page-title,
.page-groups #page-title,
#block-quicktabs-user-qa h2,
#block-quicktabs-user-group h2,
#block-views-blog-my-blog-block h2 { font-weight: bold; font-size: 16px; border: none !important; }
.page-index #page,
.section-square #page,
.page-node #page { padding-bottom: 30px; }
.region-sidebar-second .block__title.block-title { font-weight: bold; }
ul.quicktabs-tabs.quicktabs-style-arrows { margin-bottom: 0; line-height: 29px; }
.block-quicktabs .view-content>div:after,
.block-quicktabs .view-content>div:before,
.region-sidebar-second .block:after,
.region-sidebar-second .block:before,
#block-views-blog-block-1 .views-row:after,
#block-views-blog-block-1 .views-row:before { content: ""; display: table; clear: both; }
.quicktabs_main.quicktabs-style-arrows,
#block-views-my-qa-hottest-block .view-id-my_qa,
#block-views-my-group-hottest-block .view-id-my_group,
#block-views-blog-block-1 .view-display-id-block_1 { float: left; width: 100%; min-height: 32px; border: 1px solid #cccccc; border-top: none; padding: 0 11px; position: relative; }
.view .more-link { font-size: 12px; }
.more-link a { color: #737373 }
.block-quicktabs .view-content > div,
#block-views-blog-block-1 .views-row { height: 32px; line-height: 32px; border-bottom: 1px dashed #cacaca; font-size: 12px }
.block-quicktabs .view-content .views-row-last,
#block-views-blog-block-1 .views-row-last { border-bottom: none; }
#quicktabs-container-user_qa,
#block-quicktabs-user-group,
#block-quicktabs-message { font-size: 12px; }
#block-quicktabs-message a#quicktabs-tab-message-0 { height: 41px; display: block; color: #fff; font-size: 16px; background: url(../images/t.png) repeat-x 0 center; }
.block-quicktabs .view-content .views-field { float: left; color: #a3a3a3; height: 32px; overflow: hidden; }
.block-quicktabs .view-content .views-field-field-mark-question-resolved { color: #16AFC2; }
.block-quicktabs .view-content .views-field-comment-count,
.view-display-id-group_front_page .views-field-comment-count { background: url("../images/message.png") no-repeat scroll 0 center; }
#block-views-news-block-2 .view-display-id-block_2 { border: 1px solid #ccc; border-top: none; }
#block-views-blog-my-blog-block .view-display-id-my_blog_block,
#block-views-sbq-activity-block-block { border: 1px solid #ccc; }
.page-square #content h1.page__title { border-bottom: none; }
.block-quicktabs .views-field-title,
.block-quicktabs .views-field-title-1,
.view-display-id-my_blog .views-field-title,
#block-views-blog-my-blog-block .views-field-title { width: 286px; height: 32px; max-width: 286px; padding-left: 14px; overflow: hidden; background: url(../images/dot.png) no-repeat 4px center; overflow: hidden; }
.view-display-id-my_blog .views-field-title,
#block-views-blog-my-blog-block .views-field-title { float: left; }
#quicktabs-tabpage-user_qa-0 .views-field-title,
#quicktabs-tabpage-user_qa-1 .views-field-title-1 { width: 296px; max-width: 296px; }
.block-quicktabs .views-field-value,
.view-display-id-group_front_page .views-field-value { width: 50px; padding-left: 21px; background: url(../images/thumbs-up.png) no-repeat 0 center; }
.block-quicktabs .views-field-field-mark-question-resolved { width: 50px; color: #16AFC2 }
.block-quicktabs .views-field-comment-count { padding-left: 19px; width: 60px; background: url(../images/writing.png) no-repeat 0 center; }
.block-quicktabs .views-field-created,
.views-field-created-1 { width: 80px; text-align: right; height: 32px; overflow: hidden; }
#block-views-blog-block-1 .views-field-title,
#block-views-blog-block-1 .views-field-created { display: inline-block; font-size: 12px; }
#block-views-blog-block-1 .views-field-title { /*max-width: 300px;*/ float: left; }
#block-views-blog-block-1 .views-field-created { float: right; }
#block-views-message-block .views-field-message-render,
#block-views-blog-block-1 .views-field-title { max-width: 360px; }
#block-views-blog-block-1 .view-display-id-block_1 { border-top: 1px solid #CCCCCC; border-top: none; }
#block-views-blog-block-1 .block__title.block-title { background: url(../images/arrows.png) no-repeat bottom center; font-size: 12px; font-weight: bold; display: inline-block; color: #585858; width: auto; padding: 0 10px }
#block-views-message-block p { margin: 0 }
#block-views-message-block .views-field-timestamp,
.view-display-id-my_blog .views-field-created,
#block-views-blog-my-blog-block .views-field-created { max-width: 134px; overflow: hidden; float: right; text-align: right; color: #585858 }
#block-views-message-block .views-field-timestamp em { font-style: normal; }
.region-sidebar-second.column h2,
#block-views-news-block-2 h2,
#block-views-test-block h2 { width: 100%; text-align: left; text-indent: 1em; }
ul.quicktabs-tabs li { display: inline-block; padding: 0 }
ul.quicktabs-tabs li.active { font-weight: bold; }
.page-views .region-sidebar-second,
.section-groups .region-sidebar-second,
.section-content .sidebars .sidebar { width: 260px; margin-left: 700px; }
ul.quicktabs-tabs.quicktabs-style-arrows { border-bottom: none; }
ul.quicktabs-tabs.quicktabs-style-arrows li a { background: none; color: #8d8d8d; padding-top: 0; display: inline-block; height: 29px; line-height: 29px; }
#quicktabs-container-wonderful_qa,
#quicktabs-container-qa { border-top: 2px solid #16AFC2 }
ul.quicktabs-tabs.quicktabs-style-arrows li.active a,
ul.quicktabs-tabs.quicktabs-style-arrows li a:hover { background: url(../images/arrows.png) no-repeat center bottom; padding-bottom: 6px; color: #585858; padding-top: 0 }
#block-views-blog-my-blog-block h2 { padding: 0 10px; font-weight: bold; width: auto; display: inline-block; background: url(../images/t.png) no-repeat 0 0; height: 41px; }
#block-sbq-commons-sbq-user-profile i { position: absolute; top: 3px; }
#block-sbq-commons-sbq-user-profile i.option { right: 5px; }
/*#block-sbq-commons-sbq-user-profile i.option { right: 27px; }*/
#block-sbq-commons-sbq-user-profile i.message { right: 5px; }
#block-sbq-commons-sbq-user-profile i a { text-indent: -1000em; display: inline-block; width: 15px; outline: none; }
#block-sbq-commons-sbq-user-profile i.option a { background: url(../images/inbox.png) no-repeat 0 0; }
#block-sbq-commons-sbq-user-profile i.message a { background: url(../images/inbox.png) no-repeat right 0; }
#block-sbq-commons-sbq-user-profile #user_badges { font-size: 12px; color: #868d8b; }
#block-sbq-commons-sbq-user-profile #user_badges .user_badges { vertical-align: middle; display: inline-block; overflow: hidden; line-height: 26px; }
#block-sbq-commons-sbq-user-profile #user_badges .user_badges img { width: 20px; height: 16px }
#block-views-blog-block { position: relative; }
.front #block-sbq-commons-sbq-user-profile #user_badges { padding: 0 4px }
.sbq-user-menu li { background: url(../images/user-menu.png) no-repeat 0 0; }
.sbq-user-menu li:hover,
.sbq-user-menu li.active { background-color: #16AFC2; color: #fff; }
.sbq-user-menu li:hover a,
.sbq-user-menu li.active a,
.sbq-user-menu li:hover span a,
.sbq-user-menu li.active span a,
#block-sbq-commons-sbq-user-menu .active a,
#block-sbq-commons-sbq-user-menu .active span a { color: #fff; }
.userpoints-points { font-size: 10px; }
.userpoints-points em { font-style: normal; }
.menu__item.is-leaf { list-style: none; height: 40px; line-height: 40px; position: relative; padding-left: 40px; margin-bottom: 1px; }
.sbq-user-menu .sbq-user-menu-post { background-position: 12px -415px; }
.sbq-user-menu .sbq-user-menu-status { background-position: 12px 11px; }
.sbq-user-menu .sbq-user-menu-blog { background-position: 12px -557px; }
.sbq-user-menu .sbq-user-menu-group { background-position: 12px -699px; }
.sbq-user-menu .sbq-user-menu-relationship { background-position: 12px -273px; }
.sbq-user-menu .sbq-user-menu-points { background-position: 12px -131px; }
.sbq-user-menu .sbq-user-menu-post:hover,
.sbq-user-menu .sbq-user-menu-post.active { background-position: 12px -486px; }
.sbq-user-menu .sbq-user-menu-status:hover,
.sbq-user-menu .sbq-user-menu-status.active { background-position: 12px -60px; }
.sbq-user-menu .sbq-user-menu-blog:hover,
.sbq-user-menu .sbq-user-menu-blog.active { background-position: 12px -628px; }
.sbq-user-menu .sbq-user-menu-relationship:hover,
.sbq-user-menu .sbq-user-menu-relationship.active { background-position: 12px -344px; }
.sbq-user-menu .sbq-user-menu-points:hover,
.sbq-user-menu .sbq-user-menu-points.active { background-position: 12px -202px; }
.sbq-user-menu .sbq-user-menu-group:hover,
.sbq-user-menu .sbq-user-menu-group.active { background-position: 12px -776px; }
.menu__item.is-leaf .sbq-count { position: absolute; right: 12px; top: 0; z-index: 1; }
.menu__item.is-leaf a { color: #737373; display: block; }
.is-leaf .sbq-count a { color: #16AFC2 }
#block-sbq-commons-sbq-user-menu { border-top: 1px solid #cccccc; }
#block-sbq-commons-sbq-user-menu.fixed { position: fixed; top: 24px; width: 182px; z-index: 1; background-color: #fff; border: 1px solid #ccc }
#block-sbq-commons-sbq-user-menu .active span a { color: #fff }
.region-sidebar-second .block { margin-bottom: 10px; }
.region-sidebar-second .contextual-links-region,
.section-qa .region-sidebar-second.column>div { }
.region-sidebar-second .views-field,
#block-views-wiki-block .views-row,
#block-views-test-block .views-row,
#block-views-related-questions2-block-1 .views-row { height: 26px; line-height: 26px; overflow: hidden; }
#block-views-wiki-block .views-row,
#block-views-news-block-1 .views-row,
#block-views-blog-block .views-row,
#block-views-news-block-2 .views-row,
#block-views-related-questions2-block-1 .views-row { padding: 0 10px; }
.region-sidebar-second .views-row a { font-size: 12px; }
#block-views-news-block-2,
#block-views-news-block-1,
#sbq-user-carousel,
#block-sbq-commons-sbq-user-profile { position: relative; }
.view.more-link a { color: #fff }
.contextual-links-region .block-views,
#block-views-test-block { margin-bottom: 0 }
#sbq-user-carousel .view-content,
#sbq-user-carousel .view-content img { width: 258px; height: 190px; max-width: 258px; max-height: 190px; overflow: hidden; }
.carousel-indicators { margin: 0; position: absolute; z-index: 1 }
#sbq-user-disease-add { height: 30px; line-height: 30px; width: 100%; margin: 0 auto; padding: 0 7px; background-color: #f2feff; color: #9aa2a3 }
#sbq-user-carousel .carousel-indicators { right: 17px; bottom: 10px; }
#sbq-user-carousel .carousel-indicators li { width: 8px; height: 8px; border-radius: 8px; background-color: #c6c6c6 }
#sbq-user-carousel .carousel-indicators li.active { background-color: #16B4C7; }
/*#body-add-more-wrapper {
	background: url(../images/pb.png) no-repeat 57px 28px;
}*/



#body-add-more-wrapper .grippie { display: none; }
#block-sbq-commons-sbq-user-menu li.active { background-color: #16AFC2; color: #fff }
#block-sbq-commons-sbq-quick-ask #question-node-form { position: relative; }
#block-sbq-commons-sbq-quick-ask #question-node-form .form-item { margin: 0px; }
#block-sbq-commons-sbq-quick-ask #question-node-form .form-field-type-taxonomy-term-reference { display: none; }
#block-sbq-commons-recommond-patients { position: relative; }
#block-sbq-commons-recommond-patients .view,
#block-sbq-commons-recommond-doctors .view { padding-top: 10px; }
#block-sbq-commons-recommond-doctors .more-link,
#block-sbq-commons-recommond-patients .more-link,
#block-views-blog-block .more-link { top: 4px; right: 10px; }
#block-sbq-commons-recommond-doctors .sbq_recommond_friends,
#block-sbq-commons-recommond-patients .sbq_recommond_friends,
#block-sbq-commons-recommond-doctors .sbq-recommond-friends,
#block-sbq-commons-recommond-patients .sbq-recommond-friends { height: 62px; overflow: hidden; padding: 0 10px; margin-bottom: 10px; font-size: 12px; }
.sbq_recommond_friends:after,
.sbq_recommond_friends:before,
.sbq-recommond-friends:after,
.sbq-recommond-friends:before { content: ""; display: table; }
.sbq_recommond_friends:after,
.sbq-recommond-friends:after { clear: both; }
.sbq_recommond_friends .picture,
.sbq-recommond-friends .picture { display: block; float: left; width: 62px; height: 62px; margin-right: 7px; overflow: hidden; }
.sbq_recommond_friends .picture img,
.sbq-recommond-friends .picture img { width: 60px; height: 60px; max-height: 60px; max-width: 60px; border: 1px solid #585858 }
.sbq_recommond_friends .badges,
.sbq-recommond-friends .badges { display: none; }
.sbq_recommond_friends span,
.sbq-recommond-friends span { display: block; height: 20px; line-height: 20px; font-weight: bold; color: #585858 }
.sbq_recommond_friends a,
.sbq-recommond-friends a { color: #585858 }
.region a { color: #fff }
.sbq_recommond_friends span.hospital,
.sbq-recommond-friends span.hospital { font-weight: normal; }
/*问答*/
#block-views-my-qa-all-qa-block { margin-bottom: 10px; }
#quicktabs-container-qa .views-field-title { width: 384px; max-width: 384px; }
/*.not-logged-in.section-qa #quicktabs-container-qa .views-field-title{width: 176px; max-width: 176px;}*/
#quicktabs-container-qa .views-field-name { width: 50px; max-width: 50px; }
#quicktabs-tabpage-qa-2 .views-field-title { width: 434px; max-width: 434px; }
#quicktabs-tabpage-qa-1 .views-field-title { width: 384px; max-width: 384px; }
#quicktabs-container-qa .views-field-comment-count,
.view-display-id-group_front_page .views-field-comment-count { width: 50px; }
.section-qa nav.breadcrumb, .section-qa #page-title, .section-groups nav.breadcrumb, /*.page-node #page-title*/ {
 display: none;
}
.section-qa #page { background-color: #fff }
.section-qa #content,
.section-square #content { width: 688px; }
#block-quicktabs-wonderful-qa { margin-bottom: 10px; }
#sbq-qa-carousel { position: relative; height: 188px; }
#sbq-qa-carousel .carousel-indicators { bottom: -8px; left: 256px; }
#sbq-qa-carousel .carousel-indicators li { width: 10px; height: 10px; background-color: #cfcfcf }
#sbq-qa-carousel .carousel-indicators li.active { background-color: #16B4C7; }
#block-views-my-qa-wonderful-block { padding: 10px 0 0 0; height: 210px; }
#block-views-my-qa-wonderful-block .views-field { height: auto; }
#block-views-my-qa-wonderful-block .item { border: none; height: auto; }
#block-views-my-qa-wonderful-block .views-field-title { background: none; font-weight: bold; height: 32px; line-height: 32px; overflow: hidden; padding-left: 0 }
#block-views-my-qa-wonderful-block .views-field-field-image { width: 268px; height: 188px; overflow: hidden; margin-right: 20px }
#block-views-my-qa-wonderful-block .views-field-body { width: 376px; height: 130px; overflow: hidden; line-height: 20px; position: relative; }
#block-views-my-qa-wonderful-block .views-field-body span { display: block; height: 110px; overflow: hidden; line-height: 22px; }
#block-views-my-qa-wonderful-block .views-field-body a { position: absolute; bottom: 0; right: 0; z-index: 1 }
#block-views-my-qa-wonderful-block .views-field-title:after { content: ""; display: table; clear: both }
#block-views-my-qa-wonderful-block .views-field-comment-count,
#block-views-my-qa-wonderful-block .views-field-value { /*float: right;*/ top: 162px; float: none; position: absolute; z-index: 1 }
#block-views-my-qa-wonderful-block .views-field.views-field-value { right: 90px; }
#block-views-my-qa-wonderful-block .views-field-comment-count { right: 0; background: url(../images/writing.png) no-repeat 0 center; }
#block-views-my-qa-recommend-block .views-field-title { width: 185px; max-width: 185px; overflow: hidden; padding: 0; float: left; }
#block-views-my-qa-recommend-block .views-field-field-mark-question-resolved { width: 50px; float: right; padding: 0; color: #16AFC2; text-align: right; }
#block-views-my-qa-recommend-block .views-row,
#block-views-questions-tags-block .views-row,
#block-views-test-block .views-row { padding: 0 10px; font-size: 12px; }
#block-views-my-qa-recommend-block .views-row:after,
#block-views-my-qa-recommend-block .views-row:before { content: ""; display: table; }
#block-views-my-qa-recommend-block .views-row:after { clear: both; }
#block-views-questions-tags-block .view-content { padding: 10px 10px 6px 10px; }
#block-views-questions-tags-block .views-row { display: inline-block; *display:inline;
zoom: 1; height: 20px; line-height: 20px; text-align: center; margin: 0 6px 11px 0; position: relative; border: 1px solid #168a9b; border-radius: 3px; color: #168a9b; }
#block-views-questions-tags-block .views-row:hover { background-color: #168a9b; color: #fff; }
#block-views-questions-tags-block .views-row:hover a { color: #fff; }
#block-views-questions-tags-block .views-row a { color: #168a9b; line-height: 20px; }
/*------groups------*/
.section-groups .region-sidebar-second .contextual-links-region { position: relative; }
/*.section-groups #page { background-color: #fff; padding-bottom: 30px; }
*/.section-groups #content .view-id-new_groups,
.section-groups #content .view-id-og_user_groups,
.section-groups #content .view-id-og_extras_groups { float: left; border: 1px solid #cccccc; border-top: none; font-size: 12px; padding: 0 10px 0 10px; }
.section-groups #content .view-id-og_user_groups:after,
.section-groups #content .view-id-og_user_groups:before,
.section-groups #content .view-id-og_extras_groups:before,
.section-groups #content .view-id-og_extras_groups:after { content: ""; display: table; clear: both; }
.page-groups-my #page-title { display: inline-block; width: auto; padding: 0 10px; }
.view-id-new_groups,
.section-groups #content .view-id-og_user_groups,
.section-groups #content .view-id-og_extras_groups { width: 100%; padding: 10px 10px 0 10px; }
.section-groups .view-display-id-group_front_page .views-field-title a { color: #0b5e6a; font-weight: normal; }
.view-display-id-group_front_page .views-field-title { height: 22px; margin-top: 10px; line-height: 22px; }
.section-groups .view-display-id-group_front_page .views-field-body { padding: 10px; background-color: #eaf2f3; color: #818586 }
.section-groups .view-display-id-group_front_page .views-row { border-bottom: 1px dashed #cacaca }
.section-groups .view-display-id-group_front_page .views-row:after,
.section-groups .view-display-id-group_front_page .views-row:before { content: ""; display: table; }
.section-groups .view-display-id-group_front_page .views-row:after { clear: both; }
.view-display-id-group_front_page .views-field-og-group-ref,
.view-display-id-group_front_page .views-field-comment-count,
.view-display-id-group_front_page .views-field-value,
.view-display-id-group_front_page .views-field-name,
.view-display-id-group_front_page .views-field-created { display: inline-block; height: 38px; line-height: 38px; }
.view-display-id-group_front_page .views-field-og-group-ref,
.view-display-id-group_front_page .views-field-og-group-ref a,
.view-display-id-group_front_page .views-field-value,
.view-display-id-group_front_page .views-field-created,
.view-display-id-group_front_page .views-field-comment-count { color: #737373;/*width: 473px;*/ }
.view-display-id-group_front_page .views-field-name,
.view-display-id-group_front_page .views-field-name a { color: #6c7a81 }
.view-display-id-group_front_page .views-field-og-group-ref { margin-right: 15px; }
.view-display-id-group_front_page .views-field-comment-count { padding-left: 21px; }
.view-display-id-group_front_page .views-field-created,
.view-display-id-group_front_page .views-field-comment-count,
.view-display-id-group_front_page .views-field-value { float: right; }
.pager { float: left; width: 100%; margin: 10px 0 15px auto; text-align: right; }
.pager li { border: 1px solid #168a9b; font-size: 12px; color: #fff; display: inline-block; height: 26px; text-align: center; line-height: 26px; padding: 0 10px; }
.pager li.pager-current { font-weight: normal; background-color: #168a9b; }
.pager li a,
.pager li.pager-ellipsis { color: #168a9b }
#block-views-my-qa-wonderful-block .item .views-row:after,
#block-views-my-qa-wonderful-block .item .views-row:before,
.view-display-id-doctor_new .views-row:after,
.view-display-id-doctor_new .views-row:before { clear: both; content: ""; display: table; }
#block-views-new-groups-general-hot .views-field { padding: 0 }
#block-views-new-groups-doctor-new,
#block-sbq-commons-recommond-doctors { position: relative; }
#block-views-new-groups-doctor-new .view,
#block-sbq-commons-recommond-doctors .view,
#block-views-my-qa-recommend-block .view,
#block-views-questions-tags-block .view,
#block-views-news-block-1 .view,
#block-views-wiki-block .view,
#block-sbq-commons-recommond-patients .view,
#block-views-blog-block .view,
#block-views-related-questions2-block-1 .view { border: 1px solid #ccc; border-top: none; }
#block-views-new-groups-doctor-hot .views-field,
#block-views-new-groups-general-hot .views-field,
#block-views-new-groups-doctor-new .views-field { height: 20px; line-height: 20px; font-size: 12px; margin-right: 10px }
#block-views-new-groups-general-hot .views-field-field-image,
#block-views-new-groups-doctor-hot .views-field-field-image,
#block-views-new-groups-doctor-new .views-field-field-image { width: 60px; height: 62px; border: 1px solid #b7b7b7; float: left; margin-right: 10px }
.view-display-id-doctor_new .views-row { margin-bottom: 10px; }
.view-id-og_user_groups .views-row,
.view-id-og_extras_groups .views-row { width: 211px; float: left; height: 100px; margin-bottom: 18px; font-size: 12px; overflow: hidden; line-height: 20px; margin-right: 10px; position: relative; }
.view-id-og_user_groups .views-field.views-field-created,
.view-id-og_extras_groups .views-row .views-field.views-field-created { height: 20px; vertical-align: middle; }
.view-id-og_user_groups .views-field-body,
.view-id-og_extras_groups .views-field-body { overflow: hidden; position: absolute; height: 100px; width: 100px; left: 0; top: 0; z-index: 1; padding: 10px; background: url(../images/b.png) repeat 0 0; display: none; color: #fff }
.view-id-og_user_groups .views-field-body .field-content,
.view-id-og_extras_groups .views-field-body .field-content { height: 80px; overflow: hidden; }
.view-id-og_user_groups .views-field-field-image,
.view-id-og_extras_groups .views-field-field-image { width: 100px; height: 100px; float: left; margin-right: 13px; }
.view-id-og_user_groups .views-field-created span.views-label-created,
.view-id-og_extras_groups .views-field-created span.views-label-created { float: left; }
.view-id-og_user_groups .views-field-created span.field-content,
.view-id-og_extras_groups .views-field-created span.field-content { display: inline-block; height: 20px; overflow: hidden; width: 50px; }
.view-id-og_user_groups .views-field-group-group,
.view-id-og_user_groups .views-field-group-group a,
.view-id-og_extras_groups .views-field-group-group a,
.view-id-og_extras_groups .views-field-group-group { color: #999999; }
.view-og-user-groups .views-field-title,
.view-id-og_extras_groups .views-field-title,
#block-views-news-block-2 h2 { font-weight: bold; }
/*广场*/
nav.breadcrumb { display: none; }
/*.section-square #page,
.section-users #page,
.section-content #page {
	background-color: #fff
}*/
.view-display-id-hottest_block .views-row:after,
.view-display-id-hottest_block .views-row:before { clear: both; content: ""; display: table; }
.view-display-id-hottest_block .views-row .views-field { float: left; overflow: hidden; height: 37px; color: #585858 }
.view-display-id-hottest_block .views-row .views-field.views-field-field-tags,
.view-display-id-hottest_block .views-field-og-group-ref { padding-left: 20px; background: url(../images/tag.png) no-repeat 0 center; }
.section-square .region-sidebar-second { margin-left: 699px; width: 262px }
#block-views-my-qa-hottest-block .view-id-my_qa,
 #block-views-my-group-hottest-block .view-id-my_group,
 #quicktabs-container-user_group,
 #quicktabs-container-user_qa,
 #quicktabs-container-message,
 .view-display-id-my_blog,
 #block-views-blog-my-blog-block .view-display-id-my_blog_block { border-top: 2px solid #16AFC2; }
#block-views-questions-tags-block h2,
#block-views-my-group-hottest-block h2,
#block-views-my-qa-recommend-block h2 { background: url(../images/arrows.png) no-repeat 35px -6px #16AFC2; width: 100%; text-align: left; text-indent: 1em; font-weight: bold; }
.view-display-id-hottest_block div { }
.view-display-id-hottest_block .more-link a { background: url(../images/more.png) no-repeat right center; padding-right: 14px; }
.view-display-id-hottest_block .views-row { height: 37px; line-height: 37px; overflow: hidden; font-size: 12px; border-bottom: 1px dashed #cacaca }
.view-display-id-hottest_block .views-row-last { border: none; }
.view-display-id-hottest_block .views-field-title { width: 425px; max-width: 425px; padding-right: 10px; }
.view-display-id-hottest_block .views-field-field-tags,
.view-display-id-hottest_block .views-field-created,
.view-display-id-hottest_block .views-field-og-group-ref { width: 67px; }
.view-display-id-hottest_block .views-row .views-field.views-field-created { float: right; color: #585858 }
.view-display-id-hottest_block .views-field-value { width: 55px; padding-left: 21px; background: url(../images/thumbs-up.png) no-repeat 0 center; }
.view-display-id-hottest_block .views-row .views-field-comment-count { padding-left: 20px; background: url(../images/writing.png) no-repeat 0 center; }
.view-display-id-hottest_block .views-field-field-mark-question-resolved,
.view-display-id-hottest_block .views-row .views-field-field-mark-question-resolved { width: 46px; color: #16AFC2 }
.section-square .view-display-id-newest_page:after,
.section-square .view-display-id-newest_page:before { display: table; content: ""; clear: both; }
.section-square .view-display-id-newest_page .item-list { float: left; }
.section-square .view-display-id-newest_page object,
.section-square .view-display-id-newest_page object embed,
.section-square .view-display-id-newest_page .media-youku-outer-wrapper { width: 323px!important; height: 249px!important; }
.section-square .view-display-id-newest_page .media-youku-outer-wrapper { overflow: hidden; margin-right: 15px; }
.section-square .view-display-id-newest_page { line-height: 20px; border: 1px solid #cccccc; margin-bottom: 20px; font-size: 12px; padding: 9px; border-top: 2px solid #16AFC2 }
.section-square .view-display-id-newest_page a { display: block; }
.section-square .view-display-id-newest_page { border-top: 2px solid #16AFC2 }
.tabs-primary,
.tabs-secondary { background: none; border-bottom: 2px solid #16AFC2; margin: 10px 0px 0px 0px; }
.section-groups .tabs-primary li { background: none; border: none; margin: 0 }
.section-groups .tabs-primary li a { border: none; border-radius: 0; padding-bottom: 6px; font-weight: bold; color: #8D8D8D; padding: 2px 10px 4px; font-size: 12px; line-height: 20px; background: none !important; }
.section-groups .tabs-primary li .is-active { background: url("../images/arrows.png") no-repeat scroll center bottom !important; color: #585858; }
.section-groups .tabs-primary li a:hover { background: none !important; color: #585858; }
.section-square .view-display-id-newest_page .views-field-title { font-size: 18px; color: #585858; font-weight: bold; height: 40px; }
.view-display-id-newest_page .views-field-title a { line-height: 40px; color: #585858 }
.section-square .view-display-id-newest_page .views-label { float: left; font-weight: bold; color: #585858 }
.section-square .view-display-id-newest_page .views-field-body { max-height: 110px; overflow: hidden; }
.section-square .view-display-id-newest_page .views-field-body-1 { max-height: 44px; overflow: hidden; }
.section-square .view-display-id-newest_page .views-field-title-1,
.section-square .view-display-id-newest_page .views-field-field-wiki-tag { line-height: 28px; }
.section-square .view-display-id-newest_page .views-field-title-1 a,
.section-square .view-display-id-newest_page .views-field-field-wiki-tag a { color: #168a9b }
#block-views-my-group-hottest-block { margin-bottom: 0 }
.section-square #block-views-my-group-hottest-block h2,
.section-square #block-views-my-qa-hottest-block h2,
.section-square #page-title { background: url(../images/t.png) no-repeat 0 0; background-color: none; height: 41px; }
/*评测详情*/
.section-content #content { width: 680px; margin-left: 0 }
#comment-wrapper>div { margin: 10px 0; }
/*#comment-wrapper .user-picture {
	display: block;
	width: 60px;
	height: 60px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}*/
.view-new-groups .views-field-title a,
.view-new-groups .views-field-group-group a { font-weight: bold; color: #585858; }
.view-new-groups .views-field-nothing { color: #585858 }
.page-node #content { color: #585858; font-size: 12px; line-height: 20px; }
/*.page-node #content article.node {
	padding: 8px 10px 0 10px;
	border: 1px solid #ccc !important;
	border-top: 2px solid #16AFC2 !important
}
.page-node #content .field-name-field-image img { max-width: 656px; max-height: 334px; }*/
.page-node #content p { margin: 0 }
.page-node #content .title { font-size: 14px; line-height: 32px; font-weight: bold; color: #585858; margin: 0 }
/*.page-node #content .comments__title,*/
#node_wiki_full_group_tech h3,
.node .field-label,
.sbq-field-label { display: inline-block; padding: 0 10px; height: 29px; line-height: 29px; color: #fff; text-align: center; background-color: #16AFC2; margin: 20px 0 0 0; font-weight: bold; font-size: 16px; min-width: 90px; }
.page-node #content .comments__title { margin-top: 0 }
#comment-wrapper>div { border-bottom: 1px dashed #cacaca; padding-bottom: 10px }
#comment-wrapper .user-picture img { max-width: 60px; max-height: 60px; }
#comment-wrapper .links.inline { float: right; }
#comment-wrapper .links.inline a { color: #585858 }
.comment .username { font-weight: bold; color: #585858 }
.comment time { color: #8d8d8d }
#comment-wrapper .rate-widget-yesno .last { margin-left: 15px; }
#comment-wrapper .rate-widget-yesno .first a,
#comment-wrapper .rate-widget-yesno .last a { padding-left: 23px; border: none; color: #737373 }
#comment-wrapper .rate-widget-yesno .first a { background: url(../images/n-thumbs-up.png) no-repeat 0 center; }
#comment-wrapper .rate-widget-yesno .last a { background: url(../images/n-thumbs-up.png) no-repeat -104px center; }
.page-node #content { padding: 0!important }
.page-node nav.breadcrumb { display: block; padding-left: 10px; margin-bottom: 12px; background: url(../images/h.png) no-repeat 10px center; }
.page-node nav.breadcrumb { padding-left: 33px; }
.page-node nav.breadcrumb li { padding-right: 18px; margin-right: 10px; background: url(../images/more.png) no-repeat right center; }
.page-node.node-type-wiki .field-name-field-image { width: 270px; height: 188px; overflow: hidden; float: left; margin-right: 15px; border: 1px solid #ccc }
.page-node.node-type-wiki .field-name-field-image img { max-width: 270px; max-height: 188px; }
.page-node.node-type-wiki .field-name-body h1#sbq-page-title { height: 48px; line-height: 48px; text-align: center; color: #343434; font-size: 20px; font-weight: bold; }
.page-node.node-type-wiki .field-name-body .sbq-field-label { margin-top: 0; background: none; text-align: left; display: block; padding-right: 0; margin-bottom: 6px }
.sbq-field-label span { background-color: #16AFC2; display: inline-block; float: left; padding: 0 10px; }
.sbq-field-label i { background-color: #16AFC2; display: inline-block; float: right; height: 1px; margin-left: 10px; margin-top: 14px; width: 42%; }
.page-node .sbq-field_video_warpper:after,
.page-node .sbq-field_video_warpper:before { clear: both; content: ""; display: table; }
.page-node .sbq-field_video_warpper { width: 565px; height: 286px; overflow: hidden; padding: 0 3px; margin-top: 20px; }
.page-node .sbq-field_video_warpper .field-label,
#node_wiki_child_full_group_content .sbq-group-content-tab .field-label,
#node_wiki_child_full_group_content .sbq-field_video_warpper { margin-top: 0 }
.page-node .sbq-field_video_warpper .field-items { margin-top: 10px; }
.page-node .sbq-field-video-list .field-items { background-color: #222222; }
.page-node .sbq_field_title_list { background-color: #2b2b2b; position: relative; }
.page-node .sbq_field_title_list .more-link { bottom: 5px; top: auto; right: 12px; }
.page-node #content .more-link a { color: #cfcfcf; background: url(../images/wm.png) no-repeat right center; }
.page-node .sbq-field-video-list { width: 318px; float: left; }
.page-node .sbq_field_title_list { width: 240px; float: left; margin-top: 39px; padding: 8px 10px; height: 247px; }
.sbq_field_title_list .sbq-wiki-video-field-label { color: #f0f0f0; font-weight: bold; }
.page-node .sbq_field_title_list .field-item a { color: #e0e0e0 }
.page-node .sbq_field_title_list .field-item a:hover,
.page-node .sbq_field_title_list .field-item a.active { color: #16b4c7 }
.page-node .sbq-field-video-list .field-items { overflow: hidden; }
.page-node .sbq-field_video_warpper object,
.page-node .sbq-field_video_warpper embed,
.page-node .sbq-field_video_warpper .sbq-field-video-list .field-item,
.page-node .sbq-field_video_warpper .media-youku-outer-wrapper,
.page-node .sbq-field_video_warpper .media-youku-preview-wrapper { width: 311px!important; height: 240px!important; }
.page-node .sbq-field-video-list .field-item { margin: 4px; }
.page-node .sbq-field_video_warpper .media-youku-preview-wrapper { background-color: #2b2b2b; }
.page-node .sbq_field_title_list .field-item { height: 20px; line-height: 20px; }
.page-node .sbq_field_title_list .field-item img { vertical-align: middle; }
.page-node #node_wiki_full_group_tech .sbq-group-tech-tab h2 { display: inline-block; padding: 0 5px; color: #8d8d8d; cursor: pointer; }
.page-node #node_wiki_full_group_tech .sbq-group-tech-tab h2.active { background: url(../images/arrows.png) no-repeat bottom center; color: #585858 }
#node_wiki_full_group_tech .views-row { height: 30px; line-height: 30px; border-bottom: 1px dashed #ccc; overflow: hidden; }
#node_wiki_full_group_tech .views-row.views-row-last { border: none; }
#node_wiki_full_group_tech .views-row a { color: #585858; display: inline-block; width: 565px; }
#node_wiki_full_group_tech .view-id-wiki { border: 1px solid #cccccc; border-top: 2px solid #16AFC2; padding: 0 10px; }
#node_wiki_full_group_tech .view-display-id-report_eva,
#node_wiki_child_full_group_content .sbq-field_video_warpper { display: none; }
#node_wiki_child_full_group_content .sbq-group-content-tab { background: url(../images/arrows.png) no-repeat 38px 35px; height: 41px; }
#node_wiki_child_full_group_content .sbq-group-content-tab.n { background: url(../images/arrows.png) no-repeat 141px 35px; }
#node_wiki_child_full_group_content .wiki-field { border-top: 2px solid #16AFC2; }
/*------index------*/
#sbq-hhb-title { clear: both; width: 100%; }
#sbq-hhb-title h1 { width: auto; height: 50px; line-height: 60px; margin: 0px; background: url("../images/hhb.png") no-repeat scroll 19px center; text-indent: -999em; font-size: 14px; font-weight: normal; color: #535353; text-align: left; overflow: hidden; }
