/*news*/
.section-news #page { }
/*.section-news #content { float: left; width: 690px; padding: 15px !important; border: 1px #E5E5E solid !important; overflow: hidden; }*/
.section-news #content .breadcrumb { display: none !important; }
.section-news #content .page__title { line-height: 36px; padding: 0px 0px 10px 0px; font-size: 24px; border-bottom: 1px solid #E5E5E5; font-weight: normal; text-align: center; }
.section-news #content .view-mode-full { float: left; width: 100%; margin: 20px 0px 0px 0px; }
/*.section-news */#content .view-mode-full .links { float: left; margin: 10px 0px 0px 0px; color: #666 }
/*.section-news */#content .view-mode-full .links a { padding: 0px 5px; color: #0066CC; }
.section-news #content .view-mode-full .field-type-text-with-summary,
.node-type-blog #content .view-mode-full .field-type-text-with-summary { line-height: 26px; font-size: 14px; }
.section-news #content .view-mode-full .field-type-text-with-summary p { margin: 1em 0px; text-indent: 2em; }
.section-news #content .field-name-field-image { text-align: center; }
/*comment*/
#comments { float: left; width: 100%; margin: 15px 0px 0px 0px; }
#comments .title_wrap { float: left; width: 100%; height: 30px; border-top: 2px #E5E5E5 solid; border-bottom: 1px #E5E5E5 solid; }
#comments .comments__title { float: left !important; width: 80px; height: 30px; line-height: 30px !important; margin: 0px !important; padding: 0px 15px; border-top: 2px #16AFC2 solid; font-size: 14px !important; font-weight: normal; position: relative; top: -2px; text-align: center; background: none !important; color: #585858 !important; }
#comment-wrapper { float: left; width: 100%; }
#comment-wrapper .comment { float: left; width: 100%; border-bottom: 1px #E5E5E5 solid; padding: 10px 0px; }
#comment-wrapper .user-picture,
#comment-wrapper .user-picture img { float: left; width: 60px; height: 60px; border: none; overflow: hidden; }
#comment-wrapper .comment .sbq-comment-right { float: left; width: 585px; margin: 0px 0px 0px 10px; }
#comment-wrapper .comment .sbq-comment-right .submitted { float: left; width: 100%; height: 24px; line-height: 24px; margin: 0px; border-bottom: 1px #E5E5E5 dotted; font-size: 12px; }
#comment-wrapper .comment .sbq-comment-right .submitted > span { float: left; color: #999; }
#comment-wrapper .comment .sbq-comment-right .submitted .username { color: #0066CC; font-weight: bold; }
#comment-wrapper .comment .sbq-comment-right .submitted time { color: #666; }
#comment-wrapper .comment .sbq-comment-right .links { float: right; margin: 0; color: #666; display: none; }
#comment-wrapper .comment .sbq-comment-right .ajax-progress { display: none; }
#comment-wrapper .comment .sbq-comment-right .links li { padding: 0px; }
#comment-wrapper .comment .sbq-comment-right .links li a { padding: 0px 5px; color: #0066CC; }
#comment-wrapper .comment .sbq-comment-right .links li a:hover { text-decoration: underline; }
#comment-wrapper .field-type-text-long { float: left; width: 100%; line-height: 22px; padding: 5px 0px; font-size: 12px; word-break: break-all; }
#comment-wrapper .field-type-text-long p { margin: 0px; }
#comment-wrapper .indented { float: left; width: 587px; margin: 0px 0px 0px 70px; overflow: hidden; }
#comment-wrapper .comment-form { float: left; width: 587px; margin: 0px 0px 0px 70px; overflow: hidden; }
#comment-wrapper .indented .comment .sbq-comment-right { float: left; width: 100%; margin: 0px; }
#comment-wrapper .indented .comment .sbq-comment-right .links { display: none; }
#comment-wrapper .indented .user-picture { display: none; }
/*add_comment*/
.comment-wrapper .comments__form-title { }
.comment-wrapper .comment-form .field-widget-text-textarea label { float: left; width: 100%; height: 30px; line-height: 30px; margin: 0px; padding: 0px 0px 8px 0px; background: url(../images/t2.png) no-repeat -22px bottom; font-size: 14px; font-weight: bold; text-indent: 10px; }
.comment-wrapper .comment-form .field-widget-text-textarea label .form-required { display: none; }
.comment-wrapper .comment-form { float: left; width: 100%; position: relative; }
.comment-wrapper .comments__form-title { display: none; }
.comment-wrapper .comment-form .messages--error { margin: 10px 0px 0px 0px; }
.comment-wrapper .comment-form .field-type-text-long { padding: 0px !important; }
.comment-wrapper .comment-form .field-widget-text-textarea { float: left; width: 100%; }
.comment-wrapper .filter-wrapper { display: none; }
.comment-wrapper .form-type-textarea { margin: 0px; }
.comment-wrapper .form-textarea-wrapper { float: left; width: 100%; border-left: 1px #ccc solid; border-right: 1px #ccc solid; border-bottom: 1px #ccc solid; }
.comment-wrapper .grippie { display: none; }
#comments textarea { width: 579px; height: 75px; line-height: 22px; border: none; resize: none; padding: 5px; }
#comments .form-actions { float: left; width: 76px; height: 76px; line-height: 30px; margin: 0px; position: absolute; bottom: 0; right: 0; background: #168A9B; }
#comments .form-submit { float: left; width: 76px; height: 76px; line-height: 76px; margin: 0px; padding: 0px; text-align: center; border: none !important; background: #168A9B; color: #FFF; font-size: 16px; }
#comments .message { float: left; width: 76px; height: 76px; line-height: 76px; margin: 0px; padding: 0px; text-align: center; background: #E5E5E5; color: #666; font-size: 16px; position: absolute; bottom: 0; right: 0; }
#comment-form .grippie { display: none; }
.comment-wrapper .throbber { display: none; }
#comment-wrapper > div { float: left; margin: 0px; border: none; }
/*------node-type-blog------*/
.node-type-blog .blog_usernames_blog { display: none; }
.node-type-blog #page-title { font-size: 16px !important; line-height: 26px !important; }
.node-type-blog #content header { float: left; width: 100%; height: 26px; line-height: 26px; margin: 10px 0px 0px 0px; }
.node-type-blog #content header .user-picture { float: left; width: 26px; height: 26px; margin: 0px 5px 0px 0px; overflow: hidden; }
.node-type-blog #content header span { float: left; height: 26px; line-height: 26px; }
.node-type-blog #content .field-type-text-with-summary { float: left; width: 100%; }
.node-type-blog #content .view-mode-full .field-type-text-with-summary p { margin: 1em 0px; }
.node-type-blog #content .field-name-field-tags { float: left; width: 100%; margin: 10px 0px 0px 0px; }
.node-type-blog #content .field-name-field-tags .field-label { float: left; width: 35px !important; min-width: 35px !important; height: 22px; line-height: 22px; margin: 0px; padding: 0px; background: none; color: #333; font-size: 12px; font-weight: normal; text-align: left; display: inline; }
.node-type-blog #content .field-name-field-tags .field-items { float: left; width: 620px; }
/*.node-type-blog #content .field-name-field-tags .field-item { float: left; margin: 0px 5px 0px 0px; }*/
.node-type-blog #content .field-name-field-tags .field-item { float: left; height: 20px; line-height: 20px; margin: 0px 5px 5px 0px; padding: 0px 5px; position: relative; border: 1px solid #168a9b; border-radius: 3px; color: #168a9b; font-size: 12px; }
.node-type-blog #content .field-name-field-tags .field-item:hover { background-color: #168a9b; color: #fff; }
.node-type-blog #content .field-name-field-tags .field-item:hover a { color: #fff; }
.node-type-blog #content .field-name-field-tags .field-item a { color: #168a9b; line-height: 20px; }
/*------page-taxonomy------*/
.page-taxonomy #page-title { float: left; width: 100%; height: 30px; line-height: 30px; padding: 0px !important; }
.page-taxonomy .node-blog.node-teaser { float: left; width: 100%; padding: 5px 0px; border-bottom: 1px #CCCCCC dotted; }
.page-taxonomy .node-blog.node-teaser header { float: left; width: 100%; position: relative; overflow: hidden; }
.page-taxonomy .node-blog.node-teaser .node-title { float: left; width: 100%; line-height: 26px; font-size: 14px; font-weight: bold; }
.page-taxonomy .node-blog.node-teaser .submitted { float: left; width: 100%; margin: 0px; font-size: 12px; }
.page-taxonomy .node-blog.node-teaser .submitted span { float: left; height: 26px; line-height: 26px; }
.page-taxonomy .node-blog.node-teaser .user-picture { float: left; width: 26px; height: 26px; margin: 0px 5px 0px 0px; overflow: hidden; }
.page-taxonomy .node-blog.node-teaser .links { float: left; width: 100%; font-size: 12px; display: none; }
.page-taxonomy .feed-icon { display: none; }
/*news_list*/
.page-news #content .pager { margin: 10px 0px 0px auto; }
.page-news #content .page__title { line-height: 26px; padding: 0px 0px 10px 0px; font-size: 16px; }
.page-news .view-display-id-news { float: left; width: 100%; }
.page-news .view-display-id-news .view-content { float: left; width: 100%; }
.page-news .view-display-id-news .view-content .views-row { float: left; width: 100%; line-height: 20px; padding: 10px 0px; border-bottom: 1px #CCC dotted; position: relative; }
.page-news .view-display-id-news .view-content .views-row-last { border: none; }
.page-news .view-display-id-news .view-content .views-row .views-field-field-image { float: left; width: 160px; height: 106px; margin: 0px 10px 0px 0px; overflow: hidden; }
.page-news .view-display-id-news .view-content .views-field-title { float: left; width: 370px; height: 20px; line-height: 20px; font-weight: bold; overflow: hidden; }
.page-news .view-display-id-news .view-content .views-field-created { color: #666; font-size: 12px; position: absolute; top: 10px; right: 0; }
.page-news .view-display-id-news .view-content .views-field-body { float: left; width: 486px; height: 80px; margin: 6px 0px 0px 0px; overflow: hidden; font-size: 12px; }
.page-news .view-display-id-news .view-content .views-field-body p { margin: 0px; }
/*------node-type-event------*/
.node-type-event .breadcrumb { display: none !important; }
.node-type-event #content #page-title { border-bottom: 1px solid #E5E5E5; font-size: 20px; font-weight: 400; line-height: 26px; padding: 0px 0px 10px 0px; text-align: center; }
.node-type-event .view-mode-full { float: left; width: 100%; margin: 20px 0px 0px 0px; position: relative; }
/*registration-form*/
.node-type-event .registration-form { float: left; position: absolute; top: 5px; right: 0; }
.node-type-event .registration-form #edit-email { display: none; }
.node-type-event .registration-form #edit-return { display: none; }
.node-type-event .registration-form .form-submit { float: left; height: 26px; padding: 0px 8px; padding: 0px 10px; background: #16AFC2; font-size: 14px; color: #FFF; border: none !important; }
.node-type-event .view-mode-full .field { float: left; width: 100%; padding: 5px 0px; }
.node-type-event .view-mode-full .field .field-label { float: left; width: 90px; height: 26px; line-height: 26px; margin: 0px; padding: 0px; background: none; color: #666; font-size: 14px; text-align: right !important; font-weight: bold; overflow: hidden; }
.node-type-event .view-mode-full .field .field-items { float: left; width: 568px; line-height: 26px; color: #333; font-size: 14px; overflow: hidden; }
.node-type-event .view-mode-full .field .field-items li { float: left; margin: 0px 5px 0px 0px; }
/*image*/
.node-type-event .view-mode-full .field-type-image .field-items { float: left; width: 100%; margin: 0px; text-align: center; }
.node-type-event .view-mode-full .field-type-image img { width: 600px; }
/*text*/
.node-type-event .view-mode-full .field-type-text-with-summary { float: left; width: 100%; line-height: 26px; font-size: 12px; }
.node-type-event .view-mode-full .field-type-text-with-summary .field-label { display: none; }
.node-type-event .view-mode-full .field-type-text-with-summary .field-items { width: 100%; }
.node-type-event .view-mode-full .field-type-text-with-summary p { margin: 1em 0px !important; }
.node-type-event .view-mode-full .field-type-text-with-summary a { color: #0066CC; }
/*------page-questions-------*/
.page-qa #page-title { display: none; }
.page-qa #content { padding: 0px !important; border: none !important; }
.page-qa .ajax-progress { display: none; }
.page-questions #content .view-question { float: left; width: 100%; }
.page-questions #content .question .title,
.page-questions #content .question .title h2 { float: left; width: 100%; line-height: 30px; margin: 0px; font-size: 16px; font-weight: bold; }
.page-questions #content .question .title { border-bottom: 2px solid #16AFC2; }
/*questions list first*/
.page-questions #content .view-display-id-single_question_page > .view-content .q-body .q-body { font-size: 14px; }
/*--all questions list--*/
.page-questions #content .question { float: left; width: 100%; }
/*.page-questions #content .view-content .question > .q-body {
	margin: 10px 0px 0px 0px;
}*/
.page-questions #content .question .q-body > .pull-left { float: left; width: 20px; margin: 0px 0px 0px 5px; }
/*all questions right*/
.page-questions #content .question .q-body .q-margin { float: left; width: 100%; position: relative; }
.page-questions #content .question .q-body { float: left; width: 100%; line-height: 22px; padding: 5px 0px; word-break: break-all; font-size: 12px; }
.page-questions #content .question .q-body p { margin: 0px; }
.page-questions #content .question .tags { float: left; width: 100%; margin: 0px 0px 5px 0px; }
.page-questions #content .question .tags .tags-label { float: left; width: 35px; }
.page-questions #content .question .tags a { color: #0066CC; }
.page-questions #content .question .tags .sbq-qa-flag_wrap { float: left; width: 550px; }
.page-questions #content .question .tags .sbq-qa-flag { float: left; height: 20px; line-height: 20px; margin: 0px 5px 5px 0px; padding: 0px 5px; position: relative; border: 1px solid #168a9b; border-radius: 3px; color: #168a9b; font-size: 12px; }
.page-questions #content .question .tags .sbq-qa-flag:hover { background-color: #168a9b; color: #fff; }
.page-questions #content .question .tags .sbq-qa-flag:hover a { color: #fff; }
.page-questions #content .question .tags .sbq-qa-flag a { color: #168a9b; line-height: 20px; }
.page-questions #content .question .links { float: left; width: 100%; display: none; }
.page-questions #content .question .links .delete { float: right; }
.page-questions #content .question .links a { border: none; color: #0066CC; }
.page-questions #content .question .q-info { float: left; width: 60px; margin: 0px 10px 0px 0px; }
.page-questions #content .question .q-info .author-item a,
.page-questions #content .question .q-info .author-item img { float: left; width: 60px; height: 60px; border: none; }
.page-questions #content .question .q-info .author-item span { float: left; width: 100%; margin: 0px; padding: 0px; }
.page-questions #content .question .q-info .author-item .create a { float: left; width: 100%; height: 20px; line-height: 20px; margin: 0px; padding: 0px; border-radius: 0; color: #0066CC; font-size: 12px; text-align: center; font-weight: normal; word-break: break-all; word-wrap: break-word; overflow: hidden; }
.page-questions #content .question .q-content { float: left; width: 586px; overflow: hidden; }
.page-questions #content .question .head_wrap { float: left; width: 100%; height: 30px; line-height: 30px; border-bottom: 1px #CCCCCC dotted; overflow: hidden; }
.page-questions #content .question .q-content .head_wrap .time { float: left; color: #999; font-size: 12px; }
.page-questions #content .question .q-content .head_wrap .votes { float: right; }
.page-questions #content .question .q-content .head_wrap .votes ul { float: left; margin: 1px 0px 0px 0px; }
.page-questions #content .question .q-content .head_wrap .votes ul li { float: left; line-height: 26px; margin: 0px 0px 0px 10px; font-weight: bold; font-size: 12px; }
.page-questions #content .question .q-content .head_wrap .votes ul li a { height: 24px; line-height: 24px; padding: 0px 5px; border-radius: 3px; font-size: 12px; }
.page-questions #content .question .q-content .head_wrap .votes ul .first a { border: 1px #009900 solid; color: #009900 !important; background: #F0FBEB; }
.page-questions #content .question .q-content .head_wrap .votes ul .last a { border: 1px #E6393D solid; color: #E6393D !important; background: #ffebec; }
/*.is-accept { background: #0CC; }*/
.page-questions #content .question .accept { float: left; width: 100%; line-height: 26px; font-size: 14px; color: #E6393D; font-weight: bold; }
.page-questions #content .question .accept .flag-wrapper a { font-size: 14px; color: #E6393D; font-weight: bold; }
.page-questions #content .question .accept .flag-throbber { display: none; }
/*all answers*/
.page-questions #content .attachment { float: left; width: 100%; }
.page-questions #content .attachment h3 { float: left; width: 100%; height: 30px; line-height: 30px; margin: 0px; font-size: 14px; font-weight: bold; border-bottom: 2px solid #16AFC2; }
.page-questions #content .view-question #answers .views-row { float: left; width: 100%; padding: 0px; background: none; border-bottom: 1px #E5E5E5 solid; }
/*all edit*/
.page-questions #content .question .comments-wrapper { float: left; width: 100%; background: #F3F3F3; }
.page-questions #content .question .comments-wrapper .comment-text { float: left; width: 100%; padding: 2px 5px; line-height: 22px; }
/*.page-questions #content .question .comments-wrapper .comment-text .field-type-text-long { float: left; width: 100%; }*/
.page-questions #content .question .comment_textarea label { float: left; width: 100%; height: 30px; line-height: 30px; margin: 0px; padding: 0px 0px 8px 0px; background: url(../images/t2.png) no-repeat -22px bottom; font-size: 14px; font-weight: bold; text-indent: 10px; }
.page-questions #content .question .comment_textarea label .form-required { display: none; }
.page-questions #content .question .comment_textarea .grippie { display: none; }
.page-questions #content .question .comment_textarea .form-item { float: left; width: 100%; margin: 0px; position: relative; }
.page-questions #content .form-textarea-wrapper { float: left; width: 100%; border-left: 1px #ccc solid; border-right: 1px #ccc solid; border-bottom: 1px #ccc solid; }
.page-questions #content .question .comment_textarea textarea { width: 100%; height: 90px; line-height: 20px; border: none; border-right: none; resize: none; padding: 5px; }
.page-questions #content .form-actions { float: left; width: 100%; height: 30px; line-height: 30px; margin: 5px 0px 0px 0px; }
.page-questions #content .form-submit { float: right; width: 60px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: none !important; background: #168A9B; color: #FFF; font-size: 16px; }
.page-questions #content .ajax-progress { float: right; margin: 0px -60px 0px 0px; }
.page-questions #content .message { float: right; width: 60px; height: 30px; margin: 0px; padding: 0px; text-align: center; background: #E5E5E5; color: #666; font-size: 14px; }
.page-questions #content .throbber { display: none; }
.page-questions #content .messages--error { margin: 0px; }
/*comments_btn*/
.page-questions #content .question .comments_btn { float: left; width: 100%; margin: 10px 0px 0px 0px; }
.page-questions #content .question .comments_btn a { float: left; width: 60px; height: 26px; line-height: 26px; background: #168A9B; text-align: center; color: #FFF; cursor: pointer; }
.page-questions #content .question .comment_textarea { float: left; width: 100%; }
.page-questions #content .question .comment_textarea .comment-form { background: none; }
/*answer-node-form*/
.page-questions #content .answer-node-form { float: left; width: 100%; margin: 10px 0px 0px 0px; border: none; }
.page-questions #content .answer-node-form .form-item { margin: 0px; }
.page-questions #content .answer-node-form label { float: left; width: 100%; height: 36px; line-height: 36px; margin: 0px; padding: 0px 0px 8px 0px; background: url(../images/t2.png) no-repeat -22px bottom; font-size: 16px; font-weight: bold; text-indent: 10px; }
.page-questions #content .answer-node-form textarea { width: 100%; line-height: 20px; border: none; border-right: none; padding: 5px; }
/*------page-questions-tagged------*/
.page-questions-tagged #page-title { float: left; width: 100%; height: 30px; line-height: 30px; padding: 0px !important; border: none !important; }
.page-questions-tagged .view-id-questions { float: left; width: 100%; margin: 0px 0px 0px 0px; }
.page-questions-tagged .view-filters { display: none; }
.page-questions-tagged .views-exposed-widgets { float: left; width: 100%; margin: 0px; }
.page-questions-tagged .views-exposed-widgets label { display: none; }
.page-questions-tagged .views-exposed-widget { float: left; width: 590px; margin: 0px; padding: 0px; }
.page-questions-tagged .form-type-textfield input { border-radius: 4px; }
.page-questions-tagged .form-type-textfield input { width: 100%; height: 34px; padding: 2px 12px; font-size: 14px; line-height: 26px; color: #555; border: 2px solid #ccc; border-radius: 4px; background: none !important; }
.page-questions-tagged .form-type-textfield #autocomplete { margin: -1px 0px 0px 1px; border: 1px #CCCCCC solid; background: #FCFCFC; }
.page-questions-tagged .form-type-textfield #autocomplete li { padding: 0px 5px; }
.page-questions-tagged #content .views-submit-button { float: left; width: 60px; height: 34px; margin: 0px 0px 0px 5px; overflow: hidden; }
.page-questions-tagged #content .views-submit-button .form-submit { float: left; width: 60px; height: 34px; margin: 0px; padding: 0px; text-align: center; border: none !important; background: #168A9B; color: #FFF; font-size: 16px; border-radius: 4px; }
.page-questions-tagged #content .view-content { float: left; width: 100%; margin: 0px 0px 0px 0px; border-top: 1px #e5e5e5 solid; }
.page-questions-tagged #content .view-content .question { float: left; width: 100%; padding: 5px 0px; border-bottom: 1px #e5e5e5 solid; }
.page-questions-tagged #content .view-content .container-fluid { float: left; width: 100%; }
.page-questions-tagged #content .view-content .container-fluid .q-author { float: left; width: 60px; margin: 0px 10px 0px 0px; }
.page-questions-tagged #content .view-content .container-fluid .q-author a,
.page-questions-tagged #content .view-content .container-fluid .q-author img { float: left; width: 60px; height: 60px; border: none; }
.page-questions-tagged #content .view-content .container-fluid .q-author span { float: left; width: 100%; margin: 0px; padding: 0px; }
.page-questions-tagged #content .view-content .container-fluid .q-author a { float: left; width: 100%; height: auto; line-height: 20px; margin: 0px; padding: 0px; border-radius: 0; color: #0066CC; font-size: 12px; text-align: center; font-weight: normal; word-break: break-all; word-wrap: break-word; }
.page-questions-tagged #content .view-content .container-fluid .q-main { float: left; width: 586px; }
.page-questions-tagged #content .view-content .container-fluid .q-main .q-title { float: left; width: 470px; overflow: hidden; font-size: 14px; font-weight: bold; }
.page-questions-tagged #content .view-content .container-fluid .q-main .q-title a { }
.page-questions-tagged #content .view-content .container-fluid .q-main .time { float: right; color: #999; font-size: 12px; }
.page-questions-tagged #content .view-content .container-fluid .q-main .q-statics { float: left; width: 100%; margin: 0px 0px 5px 0px; font-size: 12px; }
.page-questions-tagged #content .view-content .container-fluid .q-main .q-statics .q-vote,
.page-questions-tagged #content .view-content .container-fluid .q-main .q-statics .q-answers { float: left; margin: 0px 8px 0px 0px; color: #666; }
.page-questions-tagged #content .view-content .container-fluid .q-main .q-statics .number { float: left; color: #0066CC; margin-right: 5px; }
.page-questions-tagged #content .pager { float: left; width: 100%; }
/*------page-node-add------*/
.page-node-add #page-title { float: left; width: 100%; padding: 0px !important; border: none !important; font-size: 16px !important; }
.page-node-add .messages--error { float: left; width: 100%; margin: 10px 0px; }
.page-node-add #content { width: 730px; }
.page-node-add #content .form-item { float: left; width: 100%; margin: 0px 0px 10px 0px; }
.page-node-add #content .form-item label { float: left; width: 100%; height: 30px; line-height: 30px; margin: 0px; padding: 0px 0px 8px 0px; background: url(../images/t2.png) no-repeat -22px bottom; font-size: 14px; font-weight: bold; text-indent: 10px; }
//.page-node-add #content .form-item label span {
display: none;
}
.page-node-add #content .form-item input { float: left; width: 100%; border-radius: 0px; }
.page-node-add #content .form-item input[type="text"] { background: none !important; border: none; border-left: 1px #ccc solid; border-right: 1px #ccc solid; border-bottom: 1px #ccc solid; }
.page-node-add #content .form-item textarea { float: left; width: 100%; line-height: 20px; padding: 5px; border: none; border-left: 1px #ccc solid; border-right: 1px #ccc solid; border-bottom: 1px #ccc solid; }
.page-node-add #content .form-item .description { float: left; font-size: 12px; margin: 0px; }
.page-node-add .form-actions { float: left; width: 100%; }
.page-node-add .form-actions input { float: left; width: 80px; height: 30px; line-height: 30px; background: #168A9B; border: none; color: #FFF; }
.page-questions-my-answer { }
/*------temporary------*/
.page-node-add #content #edit-field-departments { display: none; }
/*------page-questions2-------*/
.page-qa #page-title { display: none; }
.page-qa #content { padding: 0px !important; border: none !important; }
.page-qa .ajax-progress { display: none; }
.page-question #content .view-question { float: left; width: 100%; }
.page-question #content .view-content { float: left; width: 100%; }
.page-question #content .question .title,
.page-question #content .question .title h2 { float: left; width: 100%; line-height: 30px; margin: 0px; font-size: 16px; font-weight: bold; }
.page-question #content .question .title { border-bottom: 2px solid #16AFC2; }
/*questions list first*/

.page-question #content .view-display-id-single_question_page > .view-content .q-body .q-body { font-size: 14px; }
/*--all questions list--*/

.page-question #content .question { float: left; width: 100%; }
/*.page-question #content .view-content .question > .q-body {
	margin: 10px 0px 0px 0px;
}*/
.page-question #content .question .q-body > .pull-left { float: left; width: 20px; margin: 0px 0px 0px 5px; }
/*all questions right*/
.page-question #content .question .q-body .q-margin { float: left; width: 100%; position: relative; }
.page-question #content .question .q-body { float: left; width: 100%; line-height: 24px; padding: 5px 0px; word-break: break-all; font-size: 12px; }
.page-question #content .question .q-body p { margin: 0px; }
.page-question #content .question .tags { float: left; width: 100%; margin: 5px 0px; }
.page-question #content .question .tags .tags-label { float: left; width: 35px; }
.page-question #content .question .tags a { color: #0066CC; }
.page-question #content .question .tags .sbq-qa-flag_wrap { float: left; width: 550px; }
.page-question #content .question .tags .sbq-qa-flag { float: left; height: 20px; line-height: 20px; margin: 0px 5px 5px 0px; padding: 0px 5px; position: relative; border: 1px solid #168a9b; border-radius: 3px; color: #168a9b; font-size: 12px; }
.page-question #content .question .tags .sbq-qa-flag:hover { background-color: #168a9b; color: #fff; }
.page-question #content .question .tags .sbq-qa-flag:hover a { color: #fff; }
.page-question #content .question .tags .sbq-qa-flag a { color: #168a9b; line-height: 20px; }
.page-question #content .question .links { float: left; width: 100%; }
.page-question #content .question .links span { float: right; margin: 0px 0px 0px 5px; }
.page-question #content .question .links a { border: none; color: #0066CC; }
.page-question #content .question .q-info { float: left; width: 60px; margin: 0px 10px 0px 0px; }
.page-question #content .question .q-info .author-item a,
.page-question #content .question .q-info .author-item img { float: left; width: 60px; height: 60px; border: none; }
.page-question #content .question .q-info .author-item span { float: left; width: 100%; line-height: 20px; margin: 0px; padding: 0px; text-align: center; }
.page-question #content .question .q-info .author-item .create a { float: left; width: 100%; height: 20px; line-height: 20px; margin: 0px; padding: 0px; border-radius: 0; color: #0066CC; font-size: 12px; text-align: center; font-weight: normal; word-break: break-all; word-wrap: break-word; overflow: hidden; }
.page-question #content .question .q-content { float: left; width: 586px; overflow: hidden; }
.page-question #content .question .head_wrap { float: left; width: 100%; height: 30px; line-height: 30px; border-bottom: 1px #CCCCCC dotted; overflow: hidden; }
.page-question #content .question .q-content .head_wrap .time { float: left; color: #999; font-size: 12px; }
.page-question #content .question .q-content .head_wrap .votes { float: right; }
.page-question #content .question .q-content .head_wrap .votes ul { float: left; margin: 1px 0px 0px 0px; }
.page-question #content .question .q-content .head_wrap .votes ul li { float: left; line-height: 26px; margin: 0px 0px 0px 10px; padding: 0px; font-weight: bold; font-size: 12px; }
.page-question #content .question .q-content .head_wrap .votes ul li a { height: 24px; line-height: 24px; padding: 0px 5px; border-radius: 3px; font-size: 12px; }
.page-question #content .question .q-content .head_wrap .votes ul .first a { border: 1px #009900 solid; color: #009900 !important; background: #F0FBEB; }
.page-question #content .question .q-content .head_wrap .votes ul .last a { border: 1px #E6393D solid; color: #E6393D !important; background: #ffebec; }
/*.is-accept { background: #0CC; }*/
.page-question #content .question .accept { float: left; width: 100%; line-height: 26px; font-size: 14px; color: #E6393D; font-weight: bold; }
.page-question #content .question .accept .flag-wrapper a { font-size: 14px; color: #E6393D; font-weight: bold; }
.page-question #content .question .accept .flag-throbber { display: none; }
/*all answers*/
.page-question #content .attachment { float: left; width: 100%; }
.page-question #content .attachment h3 { float: left; width: 100%; height: 30px; line-height: 30px; margin: 0px; font-size: 14px; font-weight: bold; border-bottom: 2px solid #16AFC2; }
.page-question #content .view-question #answers .views-row { float: left; width: 100%; padding: 0px; background: none; border-bottom: 1px #E5E5E5 solid; }
/*all edit*/
/*questions edit*/
.page-question #content .question .comments-wrapper { float: left; width: 100%; background: #F3F3F3; }
.page-question #content .question .comments-wrapper .comment-text { float: left; width: 100%; padding: 2px 5px; line-height: 22px; }
/*.page-question #content .question .comments-wrapper .comment-text .field-type-text-long { float: left; width: 100%; }*/
.page-question #content .question .comment_textarea label { float: left; width: 100%; height: 30px; line-height: 30px; margin: 0px; padding: 0px 0px 8px 0px; background: url(../images/t2.png) no-repeat -22px bottom; font-size: 14px; font-weight: bold; text-indent: 10px; }
.page-question #content .question .comment_textarea label .form-required { display: none; }
.page-question #content .question .comment_textarea .grippie { display: none; }
.page-question #content .question .comment_textarea .form-item { float: left; width: 100%; margin: 0px; position: relative; }
.page-question #content .form-textarea-wrapper { float: left; width: 100%; border-left: 1px #ccc solid; border-right: 1px #ccc solid; border-bottom: 1px #ccc solid; }
.page-question #content .question .comment_textarea textarea { width: 100%; height: 90px; line-height: 20px; border: none; border-right: none; resize: none; padding: 5px; }
.page-question #content .form-actions { float: left; width: 100%; height: 30px; line-height: 30px; margin: 5px 0px 0px 0px; }
.page-question #content .form-submit { float: right; width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; border: none !important; background: #168A9B; color: #FFF; font-size: 14px; font-weight: bold; }
.page-question #content .ajax-progress { float: right; margin: 0px -70px 0px 0px; }
.page-question #content .message { float: right; width: 70px; height: 30px; margin: 0px; padding: 0px; text-align: center; background: #E5E5E5; color: #666; font-size: 14px; font-weight: bold; }
.page-question #content .throbber { display: none; }
.page-question #content .messages--error { margin: 0px; }
/*comments_btn*/
.page-question #content .question .comments_btn { float: left; width: 100%; margin: 10px 0px 0px 0px; }
.page-question #content .question .comments_btn a { float: left; width: 60px; height: 26px; line-height: 26px; background: #168A9B; text-align: center; color: #FFF; cursor: pointer; }
.page-question #content .question .comment_textarea { float: left; width: 100%; }
.page-question #content .question .comment_textarea .comment-form { background: none; }
/*answer-node-form*/
.page-question #content .answer-node-form { float: left; width: 100%; margin: 10px 0px 0px 0px; border: none; }
.page-question #content .answer-node-form .form-item { margin: 0px; }
.page-question #content .answer-node-form label { float: left; width: 100%; height: 36px; line-height: 36px; margin: 0px; padding: 0px 0px 8px 0px; background: url(../images/t2.png) no-repeat -22px bottom; font-size: 16px; font-weight: bold; text-indent: 10px; }
.page-question #content .answer-node-form .form-textarea { border: none; }
/*questions*/
.page-qa #content { position: relative; }
#block-sbq-commons-sbq-add-ask-link { height: 22px; line-height: 22px; margin: 0px; position: absolute; right: 0px; top: 30px; background: url(../images/post2.png) no-repeat left -22px; font-size: 16px; padding-left: 29px; display: inline-block; font-weight: 700; z-index: 9; }
/*------page-node-delete------*/
.page-node-delete .confirmation { margin: 10px 0px 0px 0px; }
/*------page-search------*/
.page-search #page-title { display: none; }
.page-search #content .search-form { float: left; width: 100%; margin: 0px; padding: 0px; }
.page-search #content .search-form label { float: left; width: 100%; height: 30px; line-height: 30px; margin: 0px; font-size: 16px; color: #666; display: none; }
.page-search #content .search-form .form-type-textfield { float: left; width: 895px; margin: 0px; }
.page-search #content .search-form .form-type-textfield .form-text { border: 2px #CCCCCC solid; }
.page-search #content .search-form .form-submit { float: left; width: 60px; height: 34px; line-height: 34px; margin: 0px 0px 0px 5px; border: none; border-radius: 4px; background: #16AFC2; color: #FFF; font-size: 14px; font-weight: bold; }
.page-search #content h2 { float: left; width: 100%; height: 30px; line-height: 30px; margin: 5px 0px 0px 0px; font-size: 14px; border-bottom: 2px #16AFC2 solid; text-indent: 5px; }
.page-search #content .search-results { float: left; width: 100%; margin: 0px; padding: 0px; }
.page-search #content .search-results li { float: left; width: 100%; margin: 0px; padding: 6px 0px; border-bottom: 1px #E5E5E5 dotted; }
.page-search #content .search-results li .title { float: left; width: 100%; height: 20px; line-height: 20px; margin: 0px; font-size: 14px; }
.page-search #content .search-results li a { color: #16AFC2; }
.page-search #content .search-results li a:hover { text-decoration: underline; }
.page-search #content .search-results li span { color: #0066CC; }
.page-search #content .search-results li .search-snippet-info { float: left; width: 100%; padding: 0px; font-size: 12px; }
.page-search #content .search-results li .search-snippet { float: left; width: 100%; margin: 5px 0px; }
.page-search #content .search-results li .search-snippet strong { color: #900; }
.page-search #content .search-results li .search-info { float: left; width: 100%; margin: 0px; }
/*about us*/
.page-node-2790 #page-title,
.page-node-20151 #page-title,
.page-node-2788 #page-title,
.page-node-2787 #page-title,
.page-node-2786 #page-title { height: 36px; line-height: 36px !important; font-weight: bold; padding: 0px !important; font-weight: bold; font-size: 18px !important; border-bottom: 2px solid #16AFC2 !important; }
.page-node-2790 .field-type-text-with-summary,
.page-node-20151 .field-type-text-with-summary,
.page-node-2788 .field-type-text-with-summary,
.page-node-2787 .field-type-text-with-summary,
.page-node-2786 .field-type-text-with-summary { padding: 5px 0px; line-height: 26px; font-size: 12px; }
.page-node-2790 .field-type-text-with-summary p,
.page-node-20151 .field-type-text-with-summary p,
.page-node-2788 .field-type-text-with-summary p,
.page-node-2787 .field-type-text-with-summary p,
.page-node-2786 .field-type-text-with-summary p { margin: 1em 0px !important; font-size: 12px; }
.page-node-2790 .field-type-text-with-summary a,
.page-node-20151 .field-type-text-with-summary a,
.page-node-2788 .field-type-text-with-summary a,
.page-node-2787 .field-type-text-with-summary a,
.page-node-2786 .field-type-text-with-summary a { color: #16AFC2; }
.page-node-2790 .field-type-text-with-summary a:hover,
.page-node-20151 .field-type-text-with-summary a:hover,
.page-node-2788 .field-type-text-with-summary a:hover,
.page-node-2787 .field-type-text-with-summary a:hover,
.page-node-2786 .field-type-text-with-summary a:hover { color: #16AFC2; text-decoration: underline; }
