/*注册登录全局 2013-11-13*/
.page-doctor-register #content,
.page-user-login #content,
.page-customer-register #content,
.page-user-password #content,
.page-doctor-register #content,
.page-node #content{
	background:#FFF;
	border:1px solid #e5e5e5 !important;
	padding:15px;
}
#content h1.page__title{
	font-size:16px;
	border-bottom:1px solid #ccc;
	padding-bottom:14px;
}
#content nav.breadcrumb{
	display:none;
}
/*#content ul.tabs-primary{
	display:none;
}*/
#content span.form-required{
	display:none;
}
#user-register-form fieldset .fieldset-wrapper .form-type-textfield input[type="text"] {width:90px;}
	/*注册*/
	.password-strength-text,
	.password-strength-title,
	.password-indicator {display:none}
	#content .form-type-password {
		width:100%
	}
    #content .password-strength {
		margin-top:0.2em;
	}
	#content .password-confirm {
		margin-top:0.2em;
	}
	#content .confirm-parent {
		margin:1.0em 0;
	}
	#content .user-info-from-cookie fieldset {
		border:none;
	}
	#content .user-info-from-cookie fieldset legend {
	float:left;
	}
	#content .user-info-from-cookie fieldset .fieldset-wrapper .form-type-textfield label {
		display:none;
	}
	#content .user-info-from-cookie fieldset .fieldset-wrapper .fieldset-description {
		display:none;
	}
	#content .user-info-from-cookie fieldset .fieldset-wrapper {
		width:245px;
		margin:-31px 0 0 72px;
	}
	#content .user-info-from-cookie fieldset .fieldset-wrapper .reload-captcha-wrapper {float:right;}
	#content .user-info-from-cookie fieldset .fieldset-wrapper .form-item-captcha-response div.description{
		display:none;
	}
	.page-doctor-register .user-info-from-cookie fieldset .fieldset-wrapper div,
	#content .user-info-from-cookie fieldset .fieldset-wrapper  img,
	#content .user-info-from-cookie fieldset .fieldset-wrapper div {
		display:inline-block;margin-right:10px
	}
	
	#user-register-form .form-type-checkbox {text-align:left;margin-left:80px;}
	#user-register-form .field-name-field-doctor-license .image-widget-data {margin:10px 0 0 0}
	#user-register-form .field-name-field-doctor-license .image-widget-data input[type="file"]{width:135px;padding:1px;}
	#user-register-form .field-name-field-doctor-license .image-widget-data input[type="submit"]{
		display: block;
		width: 80px;
		height: 28px;
		font-size: 14px;
		text-align: center;
		line-height: 0px;
		background:#fff;
		color: #000;
		border:1px solid #ccc;
		margin:0;
		
	 }
	#user-register-form div input[type="submit"]{
		background: url(../images/btn1.png) no-repeat 0 bottom;
		display: block;
		width: 184px;
		height: 34px;
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 34px;
		border:0;
		margin-left:60px;
	 }
	/*忘记密码*/
	#user-pass div #edit-actions input[type="submit"]{
		background: url(../images/btn1.png) no-repeat 0 bottom;
		display: block;
		width: 184px;
		height: 34px;
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 34px;
		border:0;
	}
	/*用户登录*/
	#user-login div .form-item-name input[type="text"]{
		width:186px;;
	}
	#user-login div .form-item-name .description{
		display:inline-block;
	}
	#user-login div .form-item-pass .description{
		display:inline-block;
	}
	#user-login div .form-item-pass label
	{
		width:85px;
		
	}
	#user-login .item-list ul.sbq_custom_login {margin:1.5em 1.0em}
	#user-login .item-list li {display:inline-block}
	.page-user-login #user-login #edit-name{
	width:186px;
	height:36px;
	line-height:36px;
	font-size:14px;
	border:none;
	background:url(../images/user.png) no-repeat 0 0;
	padding-left:28px
}
	#user-login input[type="submit"]{
		background: url(../images/btn1.png) no-repeat 0 -223px;
		display: block;
		width: 184px;
		height: 34px;
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 34px;
		border:0;
		margin-bottom:20px;
	}
	/*医生注册*/
	#user-register-form .form-item label{}
	#user-register-form .form-type-managed-file div {float:left;}
	#user-register-form .form-required {display:none;}
	#user-register-form .fieldset-wrapper .form-type-managed-file .description {display:none}	
	#user-register-form .form-type-managed-file label {display:none;}
	#user-register-form .fieldset-wrapper .form-type-managed-file .form-managed-file input[type="submit"]{display:inline-block}
	
	
	
	
/*app.download*/
.page-app #page {background:#fff;}
.page-app #content{width:700px;}
.page-app .sidebars .region-sidebar-second{width:250px;margin-left:715px;}
#page.second-code {margin-top:0}
/* 产品页 */
.sbq_apps_top {margin-bottom:10px; padding:15px 25px 10px; background:#F8F8F8; overflow:hidden;}
.sbq_apps_top .image {float:left; margin-right:20px;height:135px;}
.sbq_apps_top h2 {margin-bottom:5px; font-size:1.1em; font-weight:bold;}
.sbq_apps_top a {margin:0 20px 8px 0; color:#F60; font-size:1em;}
.sbq_apps_top a.android_href {margin:10px 20px 8px 0; color:#F60; font-size:1em;display:block;}
.sbq_apps_top a.sbq_web_href {margin:0 20px 8px 0; color:#F60; font-size:1em;display:block;}
.sbq_apps_top a:hover {text-decoration:underline;}
.sbq_apps_top i {display:inline-block}
/* 快用下载 */
.sbq_apps_top a.ky {display:inline-block; height:24px; padding-left:28px; background:url(../images/ky_logo.gif) no-repeat 0 50%; font-size:1em; font-weight:normal; cursor:pointer;}

.project ,.special{margin:0 0 10px;}
.project h3 ,.special h3{padding:5px 10px; border-bottom:1px dashed #DADADA; font-size:1.1em; font-weight:bold;}

.info p {margin:10px 20px 30px 20px;}
.special dl{margin:10px 20px;}
.info dl {margin:10px 20px;}


.jcarousel-container {position:relative;}
.jcarousel-clip {z-index:2; padding:0; margin:0; overflow:hidden; position:relative;}
.jcarousel-list {z-index:1; overflow:hidden; position:relative; top:0; left:0; margin:0; padding:0;}
.jcarousel-list li, .jcarousel-item {float:left;}
/**
 * 方向按钮
 */
 
#carousel-example-generic .carousel-inner {left:65px;}
#carousel-example-generic  .left{float:left;position:relative;top:-200px;left:10px;}
#carousel-example-generic  .right{float:right;position:relative;top:-200px;}
.jcarousel-next {z-index:3; display:none;}
.jcarousel-prev {z-index:3;	display:none;}

.other_products {margin:15px 0 0; background:#F7F7F7;}
.other_products li {/*background:url(images/wx/line2.gif) no-repeat 100% 50%;*/ text-align:center;}
.other_products li a {display:block; width:84px; height:84px; margin:0 auto;}
.other_products li span {font-weight:bold;}
.ad_video {margin-bottom:10px;}
.product_mobileload p {margin:15px 0 10px; text-align:center;}

.apple {display:inline-block; height:26px;  background:url(../images/icon_apple_logo.gif) no-repeat 3px 0; line-height:26px; cursor:pointer;}
.android {display:inline-block; height:26px;background:url(../images/icon_android_logo.gif) no-repeat 3px 0; line-height:26px;}
.sbq_web {display:inline-block; height:26px;  background:url(../images/icon_web.gif) no-repeat 0 0; line-height:26px;}
