/*注册登录全局 2013-11-13*/
.page-doctor-register #content,
.page-user-login #content,
.page-customer-register #content,
.page-user-password #content,
.page-doctor-register #content{
	background:#FFF;
	border:1px solid #e5e5e5 !important;
	padding:15px;
}
#content h1.page__title{
	font-size:16px;
	border-bottom:1px solid #ccc;
	padding-bottom:14px;
}
#content nav.breadcrumb{
	display:none;
}
#content ul.tabs-primary{
	display:none;
}
#content span.form-required{
	display:none;
}
	/*注册*/
	#content .form-type-password,
	#content .form-type-password {
		width:100%
	}
	#content .password-strength,
    #content .password-strength {
		margin-top:0.2em;
	}
	#content .password-confirm,
	#content .password-confirm {
		margin-top:0.2em;
	}
	#content .confirm-parent,
	#content .confirm-parent {
		margin:1.0em 0;
	}
	#content .user-info-from-cookie fieldset,
	#content .user-info-from-cookie fieldset {
		border:none;
	}
	#content .user-info-from-cookie fieldset legend ,
	#content .user-info-from-cookie fieldset legend {
		padding-left:17px;
	}
	#content .user-info-from-cookie fieldset .fieldset-wrapper .form-type-textfield label ,
	#content .user-info-from-cookie fieldset .fieldset-wrapper .form-type-textfield label {
		display:none;
	}
	#content .user-info-from-cookie fieldset .fieldset-wrapper .fieldset-description {
		display:none;
	}
	#content .user-info-from-cookie fieldset .fieldset-wrapper ,
	#content .user-info-from-cookie fieldset .fieldset-wrapper {
		margin:-37px 0 0 82px;
	}
	#content .user-info-from-cookie fieldset .fieldset-wrapper .form-item-captcha-response div.description,
	#content .user-info-from-cookie fieldset .fieldset-wrapper .form-item-captcha-response div.description{
		display:none;
	}
	#content .user-info-from-cookie fieldset .fieldset-wrapper  img,
	.page-doctor-register .user-info-from-cookie fieldset .fieldset-wrapper div,
	#content .user-info-from-cookie fieldset .fieldset-wrapper  img,
	#content .user-info-from-cookie fieldset .fieldset-wrapper div {
		display:inline-block;margin-right:10px
	}
	
	#user-register-form .form-type-checkbox {text-align:center;}
	#user-register-form div input[type="submit"],
	#user-register-form div input[type="submit"]{
		background: url(../images/btn1.png) no-repeat 0 bottom;
		display: block;
		width: 184px;
		height: 34px;
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 34px;
		border:0;
		margin:0 auto;
	 }
	/*忘记密码*/
	#user-pass div #edit-actions input[type="submit"]{
		background: url(../images/btn1.png) no-repeat 0 bottom;
		display: block;
		width: 184px;
		height: 34px;
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 34px;
		border:0;
	}
	/*用户登录*/
	#user-login div .form-item-name input[type="text"]{
		width:186px;;
	}
	#user-login div .form-item-name .description{
		display:inline-block;
	}
	#user-login div .form-item-pass .description{
		display:inline-block;
	}
	#user-login div .form-item-name label,
	#user-login div .form-item-pass label
	{
		width:100px;
		
	}
	#user-login .item-list ul.sbq_custom_login {margin:1.5em 1.0em}
	#user-login .item-list li {display:inline-block}
	#user-login input[type="submit"]{
		background: url(../images/btn1.png) no-repeat 0 -223px;
		display: block;
		width: 184px;
		height: 34px;
		font-size: 14px;
		color: #fff;
		text-align: center;
		line-height: 34px;
		border:0;
		margin-bottom:20px;
	}
	/*医生注册*/
	#user-register-form .form-item label{}
	#user-register-form .form-type-managed-file div {float:left;}