/*注册登录全局 2013-11-13*/
.page-doctor-register #content,
.page-user-login #content,
.page-customer-register #content,
.page-user-password #content,
.page-doctor-register #content,
.page-node #content { background: #FFF; /*border:1px solid #e5e5e5 !important;*/ padding: 15px; }
#content h1.page__title { font-size: 16px; border-bottom: 1px solid #ccc; padding-bottom: 14px; }
#content nav.breadcrumb { display: none; }
/*#content ul.tabs-primary{
	display:none;
}*/
#content span.form-required { display: none; }
#user-register-form fieldset .fieldset-wrapper .form-type-textfield input[type="text"] { width: 90px; }
/*注册*/
.password-strength-text,
 .password-strength-title,
 .password-indicator { display: none }
#content .form-type-password { width: 100% }
#content .password-strength { margin-top: 0.2em; }
#content .password-confirm { margin-top: 0.2em; }
#content .confirm-parent { margin: 1.0em 0; }
#content .user-info-from-cookie fieldset { border: none; }
#content .user-info-from-cookie fieldset legend { float: left; }
#content .user-info-from-cookie fieldset .fieldset-wrapper .form-type-textfield label { display: none; }
#content .user-info-from-cookie fieldset .fieldset-wrapper .fieldset-description { display: none; }
#content .user-info-from-cookie fieldset .fieldset-wrapper { width: 245px; margin: -31px 0 0 72px; }
#content .user-info-from-cookie fieldset .fieldset-wrapper .reload-captcha-wrapper { float: right; }
#content .user-info-from-cookie fieldset .fieldset-wrapper .form-item-captcha-response div.description { display: none; }
.page-doctor-register .user-info-from-cookie fieldset .fieldset-wrapper div,
 #content .user-info-from-cookie fieldset .fieldset-wrapper img,
 #content .user-info-from-cookie fieldset .fieldset-wrapper div { display: inline-block; margin-right: 10px }
#user-register-form .form-type-checkbox { text-align: left; margin-left: 80px; }
#user-login .form-item-remember-me { margin-left: 90px; }
#user-login #edit-actions { margin-left: 90px; }
#user-register-form .field-name-field-doctor-license .image-widget-data { margin: 10px 0 0 0 }
#user-register-form .field-name-field-doctor-license .image-widget-data input[type="file"] { float: left; width: 235px; margin: 0px 0px 0px 7px; padding: 1px; }
#user-register-form .field-name-field-doctor-license .image-widget-data input[type="submit"] { display: block; width: 80px; height: 28px; font-size: 14px; text-align: center; line-height: 0px; background: #fff; color: #000; border: 1px solid #ccc; margin: 0; }
#user-register-form div input[type="submit"] { background: url(../images/btn1.png) no-repeat 0 bottom; display: block; width: 184px; height: 34px; font-size: 14px; color: #fff; text-align: center; line-height: 34px; border: 0; margin-left: 60px; }
/*忘记密码*/
#user-pass div #edit-actions input[type="submit"] { background: url(../images/btn1.png) no-repeat 0 bottom; display: block; width: 184px; height: 34px; font-size: 14px; color: #fff; text-align: center; line-height: 34px; border: 0; }
/*用户登录*/
#user-login div .form-item-name input[type="text"] { width: 186px; ; }
#user-login div .form-item-name .description { display: inline-block; }
#user-login div .form-item-pass .description { display: inline-block; }
#user-login div .form-item-pass label { width: 85px; }
#user-login .item-list ul.sbq_custom_login { margin: 1.5em 1.0em }
#user-login .item-list li { display: inline-block }
.page-user-login #user-login #edit-name { width: 186px; height: 36px; line-height: 36px; font-size: 14px; border: none; background: url(../images/user.png) no-repeat 0 0; padding-left: 28px }
#user-login input[type="submit"] { background: url(../images/btn1.png) no-repeat 0 -223px; display: block; width: 184px; height: 34px; font-size: 14px; color: #fff; text-align: center; line-height: 34px; border: 0; margin-bottom: 20px; }
/*医生注册*/
#user-register-form .form-item label { }
#user-register-form .form-type-managed-file div { float: left; }
#user-register-form .form-required { display: none; }
#user-register-form .fieldset-wrapper .form-type-managed-file .description { display: none }
#user-register-form .form-type-managed-file label { display: none; }
#user-register-form .fieldset-wrapper .form-type-managed-file .form-managed-file input[type="submit"] { display: inline-block }
.user-info-from-cookie .captcha img { margin: 0px 0px -14px 0px; }
/*sbq_doctor_quick_register*/
#sbq_doctor_quick_register #doctor_register_form { float: left; width: 380px; }
#sbq_doctor_quick_register #block-user-login { float: left; width: 200px; margin: 0px 70px 0px 0px; }
#sbq_doctor_quick_register .modal-title { color: #FFF; height: 26px; line-height: 26px; font-size: 16px; font-weight: bold; }
/*医生快速通道弹框*/
#sbq_doctor_quick_register { font-size: 14px; }
#sbq_doctor_quick_register .modal-dialog { width: 740px; }
