.page-views .sbq-pages .row .column .view .view-content .sbq-news-center {border:1px solid #e5e5e5;
																							 padding:19px;
																							 background:#fff;
																							 margin-bottom:10px;min-height:167px;}
.page-views .sbq-pages .row .column .view .view-content .sbq-news-center .views-field-field-image {border:1px solid #ccc;
																													  width:207px;
																													  height:127px;
																													  padding:3px;float:left;margin-right:12px;}
.page-views .sbq-pages .row .column .view .view-content .sbq-news-center .views-field-field-image img {width:199px;height:119px}																												  
.page-views .sbq-pages .row .column .view .view-content .sbq-news-center .views-field-title a {font:14px;color:#333;font-weight:bold}
.page-views .sbq-pages .row .column .view .view-content .sbq-news-center .views-field-body p {font-size:12px; color:#666;font-weight:none;margin:8px 0}
.page-views .sbq-pages .row .column .view .view-content .sbq-news-center .views-field-created span {font-size:12px; color:#333}

/*ÕýÎÄÒ³Ãæ*/
.page-node .sbq-pages .row .col-md-8 {border:1px solid #e5e5e5;padding:19px;background:#fff;}
.page-node .sbq-pages .row .column  h1#page-title {text-align:center;font-size:22px;border-bottom:1px solid #ccc;padding:20px 0;margin:0 25px;}
.page-node .sbq-pages .row .column article div.field-name-body  {padding:0 45px;line-height:24px;}
.page-node .sbq-pages .row .column article div.field-name-body  p {font-family:'\5B8B\4F53';text-indent: 2em}
.page-node .sbq-pages .row .column article ul {margin-right:55px;margin-bottom:20px; background:#f2f2f2;border-radius:3px;padding:5px;float:right;}