/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
.two-sidebars #content {
float: left;
width: 46.666667%;
margin-left: 20%;
margin-right: -80%;
}
.sbq-columns-3  #content {
	float: left;
	width: 46.666667%;
	margin-left: 20%;
	margin-right: -80%;
}
.two-sidebars .region-sidebar-second {
	float: left;
	margin-left: 66.6666666%;
	margin-right: -100%;
}
.front #content{
	background:none;
}
#content{
	background-color: #FFF;
	margin-bottom: 30px;
}
.sidebar_warpper{
	background-color: #FFF;
}
.sidebar_warpper_left{
	background-color: #FFF;
	margin-right: 10px;
	padding-top: 25px;
	padding-bottom: 100px;
}
/*del*/
#main {
	padding-top: 48px;
}
#header .navbar-header {
background: red;
padding-left: 35px;
background: #fff;
margin-top: 0px;
}

.view-index-activity-blok-image {
	padding-top: 45px;
}


.breadcrumb ol {
	margin: 0;
}


/**
 * Tabs.
 * @see sites/all/themes/zen_sbq/css/components/misc.css
 */

/* Basic positioning styles shared by primary and secondary tabs. */
.tabs-primary,
.tabs-secondary {
  overflow: hidden;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(100%, #bbbbbb), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(bottom, #bbbbbb 1px, transparent 1px);
  background-image: -moz-linear-gradient(bottom, #bbbbbb 1px, transparent 1px);
  background-image: -o-linear-gradient(bottom, #bbbbbb 1px, transparent 1px);
  background-image: linear-gradient(bottom, #bbbbbb 1px, transparent 1px);
  /* IE 9 and earlier don't understand gradients. */
  list-style: none;
  border-bottom: 1px solid #bbbbbb \0/ie;
  margin: 1.5em 0;
  padding: 0 2px;
  white-space: nowrap;
}
.tabs-primary__tab,
.tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  float: left; /* LTR */
  margin: 0 3px;
}
a.tabs-primary__tab-link,
a.tabs-secondary__tab-link {
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  display: block;
  line-height: 1.5em;
  text-decoration: none;
}

/* Primary tabs. */
.tabs-primary__tab,
.tabs-primary__tab.is-active {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  text-shadow: 1px 1px 0 white;
  border: 1px solid #bbbbbb;
  border-bottom-color: transparent;
  /* IE 9 and earlier don't understand gradients. */
  border-bottom: 0 \0/ie;
}
.is-active.tabs-primary__tab {
  border-bottom-color: white;
}
a.tabs-primary__tab-link,
a.tabs-primary__tab-link.is-active {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #333;
  background-color: #dedede;
  letter-spacing: 1px;
  padding: 0 1em;
  text-align: center;
}
a.tabs-primary__tab-link:hover,
a.tabs-primary__tab-link:focus {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}
a.tabs-primary__tab-link:active,
a.tabs-primary__tab-link.is-active {
  background-color: transparent;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE9E9E9', endColorstr='#00E9E9E9');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e9e9e9), color-stop(100%, rgba(233, 233, 233, 0)));
  background-image: -webkit-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -moz-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: -o-linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  background-image: linear-gradient(#e9e9e9, rgba(233, 233, 233, 0));
  border-color: #fff;
}

/* Secondary tabs. */
.tabs-secondary {
  font-size: .9em;
  /* Collapse bottom margin of ul.primary. */
  margin-top: -1.5em;
}
.tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  margin: 0.75em 3px;
}
a.tabs-secondary__tab-link,
a.tabs-secondary__tab-link.is-active {
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -ms-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  border-radius: 0.75em;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 0 white;
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}
a.tabs-secondary__tab-link:hover,
a.tabs-secondary__tab-link:focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}
a.tabs-secondary__tab-link:active,
a.tabs-secondary__tab-link.is-active {
  text-shadow: 1px 1px 0 #333333;
  background-color: #666;
  border-color: #000;
  color: #fff;
}
/**
 * Breadcrumb navigation.
 */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}



#questions .q-body p{
	margin: 1em 0;
}
#questions .q-body{
	margin-top: -1em;
}