/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
.two-sidebars #content {
float: left;
width: 46.666667%;
margin-left: 20%;
margin-right: -80%;
}
.sbq-columns-3  #content {
	float: left;
	width: 46.666667%;
	margin-left: 20%;
	margin-right: -80%;
}
.two-sidebars .region-sidebar-second {
	float: left;
	margin-left: 66.6666666%;
	margin-right: -100%;
}