/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013-11-19, 11:59:41
    Author     : CHECHAO
*/
.breadcrumb {
	display: none;
}
/*left*/
.page-node-20121 #main {
	padding-top: 30px;
}
.page-node-20121 #content {
	width: 700px !important;
	padding: 10px;
	background: #ffffff;
	font-family: "Microsoft Yahei", "微软雅黑" !important;
}
.page-node-20121 .sbq_apps {
	float: left;
	width: 100%;
}
.page-node-20121 .sbq_apps_top {
	float: left;
	width: 100%;
	height: 156px;
	background: #f8f8f8;
	overflow: hidden;
}
.page-node-20121 .sbq_apps_top .image {
	float: left;
	margin: 14px 16px 0px 22px;
	box-sizing: inherit;
}
.page-node-20121 .sbq_apps_top img {
	float: left;
	width: 103px !important;
	height: 103px !important;
	overflow: hidden;
	max-width: none;
	display: block;
}
.page-node-20121 .sbq_apps_top .down {
	float: left;
	width: 500px;
}
.page-node-20121 .sbq_apps_top .down h2 {
	line-height: 26px;
	margin: 14px 0px 10px 0px;
	font-size: 16px;
}
.page-node-20121 .sbq_apps_top .down a {
	float: left;
	width: 220px;
	height: 30px;
	line-height: 30px;
	padding: 0px 20px 0px 0px;
	font-size: 12px;
	color: #ff6701;
}
.page-node-20121 .sbq_apps_top .down a i {
	float: left;
	width: 30px;
	height: 30px;
	text-align: center;
}
.page-node-20121 .sbq_apps_top .down a img {
	float: none !important;
	width: auto !important;
	height: 26px!important;
	border: none;
	font-size: 14px;
}
.page-node-20121 .project {
	float: left;
	width: 100%;
	line-height: 24px;
}
.page-node-20121 .project h3 {
	float: left;
	width: 100%;
	height: 36px;
	line-height: 36px;
	margin: 9px 0px 0px 0px;
	border-bottom: 1px #d9d9d9 dotted;
	font-size: 16px;
}
.page-node-20121 .project p {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 10px 0px;
}
.page-node-20121 #carousel-example-generic {
	float: left;
	width: 100%;
	margin: 22px 0px 20px 0px;
	position: relative;
}
.page-node-20121 #carousel-example-generic .carousel-inner {
	width: 570px;
	height: 320px;
	margin: 0 auto;
	overflow: hidden;
}
.page-node-20121 #carousel-example-generic .carousel-inner .item {
	float: left;
	width: 190px;
	height: 320px;
}
.page-node-20121 #carousel-example-generic .carousel-inner .item img {
	float: left;
	width: 180px;
	height: 320px;
	margin: 0px 5px;
}
.page-node-20121 #carousel-example-generic .carousel-control {
	float: left;
	width: 36px;
	height: 60px;
	position: absolute;
	top: 110px;
	display: none;
}
.page-node-20121 #carousel-example-generic .left {
	left: 0;
}
.page-node-20121 #carousel-example-generic .right {
	right: 0;
}
/*right*/
.page-node-20121 .region-sidebar-second {
	float: left;
	margin-left: 710px !important;
	width: 270px!important;
	background: #FFF;
}
.page-node-20121 .region-sidebar-second .contextual-links-region {
	border: none !important;
}
.page-node-20121 .region-sidebar-second .second-code h2 {
	height: 36px;
	line-height: 36px;
	margin: 0px;
	border-bottom: 1px #dadada dotted;
	background: none;
	color: #000000 !important;
	background: #FFF !important;
	font-size: 15px;
	font-family: "Microsoft Yahei", "微软雅黑" !important;
	text-indent: 1em;
}
.page-node-20121 .region-sidebar-second .second-code img {
	float: left;
	width: 100px;
	height: 100px;
	margin: 15px 85px;
	border: none;
}
.page-node-20121 .block {
	margin: 0;
}
/*for index.css*/
.page-node-20121 #content .page__title {
	font-size: 16px !important;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}