/*------node-type-sbq-center------*/
.node-type-sbq-center #content { border: none !important; padding: 0px !important; }
.node-type-sbq-center #page-title { display: none; }
.node-type-sbq-center #content .block-views { float: left; width: 100%; margin: 0px 0px 10px 0px; position: relative; }
.node-type-sbq-center #content .block-views .block-title { float: left; width: 100%; height: 36px; line-height: 36px; background: none; border-bottom: 2px #16AFC2 solid; color: #333; font-size: 16px; text-align: left; font-weight: bold; }
.node-type-sbq-center #content .block-views .more-link { float: left; height: 20px; line-height: 20px; position: absolute; right: 10px; top: 8px; z-index: 1; background: url(../images/more.png) no-repeat; background-position: right; }
.node-type-sbq-center #content .block-views .more-link a { float: left; height: 20px; line-height: 20px; padding: 0px 14px 0px 0px; color: #737373; }
.node-type-sbq-center #content .block-views .views-row { float: left; width: 100%; height: 32px; line-height: 32px; border-bottom: 1px dashed #CACACA; overflow: hidden; }
.node-type-sbq-center #content .block-views .views-row-last { border: none; }
.node-type-sbq-center #content .block-views .views-row .views-field { float: left; height: 32px; line-height: 32px; overflow: hidden; color: #A3A3A3; }
.node-type-sbq-center #content .block-views .views-row .views-field-title { width: 540px; padding-left: 14px; overflow: hidden; background: url(../images/dot.png) no-repeat 4px center; }
.node-type-sbq-center #content .block-views .views-row .views-field-created { text-align: right; width: 80px; }
.node-type-sbq-center #content .block-views .views-row .views-field-field-mark-question-resolved { width: 50px; color: #16AFC2; }
/*#sbq-banner*/
.node-type-sbq-center #sbq-banner { float: left; width: 100%; min-width: 960px; height: 380px; overflow: hidden; position: relative; background-position: center !important; }
.node-type-sbq-center .region.region-banner,
.node-type-sbq-center #block-views-sbq-center-banner-banner,
.node-type-sbq-center .view-sbq-center-banner { float: left; width: 100%; }
.node-type-sbq-center #sbq-banner .view-content { width: 960px; height: 380px; margin: 0 auto; }
.node-type-sbq-center #sbq-banner .views-field-field-image { display: none; }
.node-type-sbq-center #sbq-banner .views-field-title { float: left; width: 100%; height: 30px; margin: 120px 0px 0px 0px; color: #006699; overflow: hidden; }
.node-type-sbq-center #sbq-banner .views-field-title .field-content { float: left; width: 800px; height: 30px; line-height: 30px; margin: 0px 0px 0px 74px; font-size: 28px; font-weight: bold; letter-spacing: 3px; overflow: hidden; }
.node-type-sbq-center #sbq-banner .views-field-body { float: left; width: 100%; margin: 46px 0px 0px 0px; }
.node-type-sbq-center #sbq-banner .views-field-body .field-content { float: left; width: 425px; height: 94px; margin: 0px 0px 0px 62px; padding: 10px 14px 10px 25px; line-height: 30px; border-radius: 5px; font-size: 14px; background: url(../images/sbq_center_text_bg.png); overflow: hidden; }
.node-type-sbq-center #sbq-banner .views-field-body .field-content a { float: right; color: #336699; }
/*block-sbq-center-sbq-center-ask*/
.node-type-sbq-center #content #block-sbq-center-sbq-center-ask { float: left; width: 100%; margin: 0px; }
.node-type-sbq-center #content .field-type-text-with-summary { float: left; width: 100%; }
.node-type-sbq-center #content #block-sbq-center-sbq-center-ask .form-item { margin: 0px; }
.node-type-sbq-center #content #block-sbq-center-sbq-center-ask label { float: left; width: 100%; height: 32px; line-height: 32px; margin: 0px; padding: 0px; background: #fcfcfc; font-size: 14px; text-indent: 10px; font-weight: bold; }
.node-type-sbq-center #content .form-textarea-wrapper { float: left; width: 688px; border: 1px #d6d6d6 solid; }
.node-type-sbq-center #content .form-textarea-wrapper textarea { float: left; width: 678px; height: 100px; line-height: 20px; padding: 5px; border: none; resize: none; }
.node-type-sbq-center #content .form-actions { float: left; width: 100%; height: 32px; line-height: 32px; margin: 10px 0px 0px 0px; position: relative; }
.node-type-sbq-center #content .form-actions .form-submit { float: left; width: 90px; height: 32px; padding: 0px; border: none; border-radius: 2px; background: #16AFC2; color: #FFF; font-size: 14px; font-weight: bold; overflow: hidden; position: absolute; top: 0; right: 0; z-index: 1; }
.node-type-sbq-center #content .form-actions .ajax-progress { position: absolute; top: 0; right: 0; z-index: 2; }
.node-type-sbq-center #content .form-actions .throbber { display: none; }
.node-type-sbq-center #content .form-actions .message { float: left; width: 90px; height: 32px; padding: 0px; border-radius: 2px; text-align: center; background: #E5E5E5; color: #666666; font-size: 14px; font-weight: bold; text-align: center; overflow: hidden; }
#sbq-center-need-login { float: left; height: 20px; line-height: 20px; margin: 0px 0px 10px 0px; color: #666 }
#sbq-center-need-login a { padding: 0px 3px; color: #0066CC; }
/*right*/
.page-center .region-sidebar-second,
.node-type-sbq-center .region-sidebar-second { min-height: 700px; background: #f5f5f5; }
/*hide*/
.node-type-sbq-center #edit-field-tags,
.node-type-sbq-center #edit-field-computed-answers,
.node-type-sbq-center #edit-field-departments,
.node-type-sbq-center #edit-og-group-ref,
.node-type-sbq-center .filter-wrapper { display: none; }
/*------page-center-edu------*/
.page-center-edu { }
.page-center-edu #page-title { float: left; width: 100%; height: 36px; line-height: 36px; background: none; border-bottom: 2px #16AFC2 solid; color: #333; font-size: 16px; text-align: left; font-weight: bold; }
/*view-display-id-center_edu_video*/
.page-center-edu .view-display-id-center_edu_video { float: left; width: 100%; }
.page-center-edu .view-display-id-center_edu_video .view-content { float: left; width: 680px; padding: 5px; }
.page-center-edu .view-display-id-center_edu_video .views-row { float: left; width: 160px; padding: 5px; overflow: hidden; }
.page-center-edu .view-display-id-center_edu_video .views-row .views-field-field-sbq-center-video { float: left; width: 160px !important; height: 120px !important; overflow: hidden; }
.page-center-edu .view-display-id-center_edu_video .views-row object { float: left; width: 160px !important; height: 120px !important; overflow: hidden; }/*del*/
.page-center-edu .view-display-id-center_edu_video .views-row .views-field-title { float: left; width: 100%; height: 40px; line-height: 20px; margin: 2px 0px 0px 0px; overflow: hidden; }
/*block-views-sbq-center-edu-article-block*/
.page-center-edu #block-views-sbq-center-edu-article-block { float: left; width: 100%; }
.page-center-edu #block-views-sbq-center-edu-article-block .block-title { float: left; width: 100%; height: 36px; line-height: 36px; background: none; border-bottom: 2px #16AFC2 solid; color: #333; font-size: 16px; text-align: left; font-weight: bold; }
.page-center-edu #block-views-sbq-center-edu-article-block .view-content { float: left; width: 100%; }
.page-center-edu #block-views-sbq-center-edu-article-block .views-row { float: left; width: 100%; height: 30px; line-height: 30px; border-bottom: 1px #CACACA dotted; text-indent: 10px; overflow: hidden; }
.page-center-edu #block-views-sbq-center-edu-article-block .views-row-last { border: none; }
/*------node-type-sbq-center-edu------*/
.node-type-sbq-center-edu #content #page-title { float: left; width: 100%; line-height: 36px; padding: 0px 0px 10px 0px; font-size: 26px; font-weight: normal; text-align: center; border-bottom: 1px solid #E5E5E5; }
.node-type-sbq-center-edu #content .view-mode-full { float: left; width: 100%; }
.node-type-sbq-center-edu #content .view-mode-full header { float: left; width: 100%; height: 30px; line-height: 30px; text-align: center; color: #F00; }
.node-type-sbq-center-edu #content .view-mode-full header .user-picture { width: 20px; height: 20px; overflow: hidden; }
.node-type-sbq-center-edu #content .view-mode-full header .user-picture img { width: 20px; height: 20px; overflow: hidden; }
.node-type-sbq-center-edu #content .field-name-field-sbq-center-video { float: left; width: 100%; margin: 10px 0px 0px 0px; }
.node-type-sbq-center-edu #content .field-name-field-sbq-center-video .field-items { width: 640px; margin: 0 auto; }
.node-type-sbq-center-edu #content .field-type-text-with-summary { float: left; width: 100%; }
#comments { float: left; width: 100%; }
