.sbq_form_wrap { float: left; width: 100%; }
.sbq_form_wrap fieldset { border: none; }
/*item*/
.sbq_form_wrap .sbq_form_01,
.sbq_form_wrap .form-item-pass .form-item { float: left; width: 100%; padding: 10px 0px; font-size: 14px; position: relative; }
/*title*/
.sbq_form_wrap label,
.sbq_form_wrap #edit-picture legend,
.sbq_form_wrap .field-type-datetime legend,
.sbq_form_wrap legend { float: left; width: 110px; height: 36px; line-height: 36px; margin: 0px 10px 0px 0px; text-align: right; overflow: hidden; color: #666; }
.sbq_form_wrap .form-required { line-height: 36px; color: #900; font-size: 14px; font-family: "Arial"; display: inline-block; }
/*input*/
.sbq_form_wrap input[type="text"],
.sbq_form_wrap input[type="password"],
.sbq_form_wrap input[type="email"] { float: left; width: 200px; height: 34px; line-height: 34px; margin: 0px; padding: 0px 9px; border: 1px #dddddd solid; background: url(../image/input_bg_01.png) repeat-x; }
.sbq_form_wrap input[type="text"]:focus,
.sbq_form_wrap input[type="password"]:focus,
.sbq_form_wrap input[type="email"]:focus { border: 1px #3385d6 solid; box-shadow: 0px 0px 2px #3385d6; }
.sbq_form_wrap input.error { border: 1px #E6393D solid !important; box-shadow: 0px 0px 2px #E6393D; }
/*textarea*/
.sbq_form_wrap .sbq_form_01 .grippie { display: none; }
.sbq_form_wrap .sbq_form_01 textarea { float: left; width: 398px; padding: 10px; height: 66px; line-height: 22px; border: 1px #dddddd solid; resize: none; overflow: hidden; }
.sbq_form_wrap .sbq_form_01 textarea:focus { border: 1px #3385d6 solid; box-shadow: 0px 0px 2px #3385d6; }
/*select*/
.sbq_form_wrap select { float: left; height: 22px; line-height: 22px; margin: 7px 5px 0px 0px; vertical-align: middle; }
/*.sbq_form_01 select { float: left; height: 24px; line-height: 24px; margin: 4px 0px 0px 0px; }*/
/*sbq_file_01*/
.sbq_form_wrap input[type="file"] { float: left; width: 220px; height: 36px; line-height: 32px; margin: 0px; padding: 0px; border: 1px #DDDDDD solid; }
.sbq_form_wrap .field-type-image input[type="submit"] { display: none; }
/*radio*/
.sbq_form_wrap .sbq_form_01 .sbq_radio_wrap { float: left; width: 220px; }
.sbq_form_wrap .sbq_form_01 .sbq_radio_wrap label { width: auto; margin: 0px 5px; }
.sbq_form_wrap .sbq_form_01 .sbq_radio_wrap input { float: left; border: none; width: 14px; height: 36px; padding: 0px; background: none; }
/*sbq_checkbox_01*/
.sbq_checkbox_01 { float: left; line-height: 26px; padding: 5px 0px 5px 120px; }
.sbq_checkbox_01 input { float: left; height: 26px; line-height: 26px; }
.sbq_checkbox_01 label { float: left; width: auto; height: 26px; line-height: 26px; margin: 0px 5px; }
/*botton*/
.sbq_form_wrap .sbq_botton_01 { float: left; width: 100%; padding: 10px 0px; }
.sbq_form_wrap .sbq_botton_01 .sbq_btn { float: left; width: 80px; height: 36px; line-height: 36px; padding: 0px; border: none; border-radius: 3px; background: #1575D5; color: #FFF; font-size: 14px; }
/*description*/
.sbq_form_wrap .description { float: left; width: 540px; line-height: 20px; margin: 5px 0px 0px 120px; font-size: 12px; color: #999; }
/*edit-picture*/
.sbq_form_wrap #edit-picture { float: left; width: 100%; }
.sbq_form_wrap #edit-picture .form-item { float: left; width: 100%; margin: 10px 0px 0px 0px; }
.sbq_form_wrap #edit-picture img { max-width: 400px; }
/*field-type-image*/
.sbq_form_wrap .field-type-image { float: left; width: 100%; }
.sbq_form_wrap .field-type-image .form-wrapper { float: left; width: 100%; }
.sbq_form_wrap .field-type-image .fieldset-wrapper { float: left; width: 560px; position: relative; }
.sbq_form_wrap .field-type-image .tabledrag-hide,
.sbq_form_wrap .field-type-image .tabledrag-toggle-weight-wrapper,
.sbq_form_wrap .field-type-image .handle,
.sbq_form_wrap .field-type-image .fieldset-wrapper label { display: none; }
.sbq_form_wrap .field-type-image fieldset { border: none; }
.sbq_form_wrap .field-type-image .ajax-progress { display: none; }
.sbq_form_wrap .field-type-image .description { float: left; width: 570px; line-height: 18px; margin: 5px 0px 0px 120px; font-size: 12px; color: #666; }
.sbq_form_wrap .field-type-image input[type="submit"] { float: left; width: 60px; height: 36px; line-height: 36px; margin: 0px 0px 0px 10px; padding: 0px; border: none; border-radius: 3px; background: #698EBF; color: #FFF; font-size: 14px; }
.sbq_form_wrap .field-type-image .file { display: none; }
.sbq_form_wrap .field-type-image .image-preview { float: left; padding: 0px; }
.sbq_form_wrap .field-type-image .file-size { float: left; margin: 0px 0px 0px 10px; }
.sbq_form_wrap .field-type-image .file-size ~ input[type="submit"] { display: block !important; }
.sbq_form_wrap .field-type-image td input[type="submit"] { display: block !important; margin: 0px; }
.sbq_form_wrap .field-type-image .fieldset-wrapper input[type="submit"] { display: block !important; }
.sbq_form_wrap .field-type-image table { width: 260px; border-collapse: collapse; margin: 0px 0px 10px 0px; }
.sbq_form_wrap .field-type-image table th { background: #FCFCFC; }
.sbq_form_wrap .field-type-image table th,
.sbq_form_wrap .field-type-image table td { line-height: 22px; border: 1px #E5E5E5 solid; padding: 5px; }
.sbq_form_wrap .field-type-image .fieldset-wrapper .description { width: 100%; margin: 5px 0px 0px 0px; }
.sbq_form_wrap .field-type-image .messages { float: left; width: 560px; line-height: 20px; margin: 0px 0px 10px 0px; color: #900; font-size: 12px; }
/*form-item-pass*/
.sbq_form_wrap .form-item-pass { float: left; }
.sbq_form_wrap .form-item-pass .form-item { float: left; width: 100%; }
.sbq_form_wrap .password-strength,
.sbq_form_wrap .password-confirm { float: right; width: 260px; height: 36px; line-height: 36px; margin: 0px 60px 0px 0px; }
.sbq_form_wrap .password-parent .password-strength { height: 30px; line-height: 30px; }
.sbq_form_wrap .password-strength .password-strength-title { float: left; }
.sbq_form_wrap .password-strength .password-strength-text,
.sbq_form_wrap .password-confirm span { float: right; }
.sbq_form_wrap .password-confirm .error { color: #E6393D; }
.sbq_form_wrap .password-confirm .ok { color: #009900; }
.sbq_form_wrap .password-strength .password-indicator { float: left; width: 100%; background: #EEE; }
.sbq_form_wrap .password-strength .password-indicator .indicator { float: left; height: 3px; background: #1575D5; }
.sbq_form_wrap .password-suggestions { display: none; }
.sbq_form_wrap .password-confirm.form-text { margin: 0px; }
/*form-type-radios*/
.sbq_form_wrap .form-type-radios input { float: left; height: 36px; }
.sbq_form_wrap .form-type-radios .option { float: left; width: auto; margin: 0px 8px; }
/*field-name-field-department*/
.sbq_form_wrap .field-name-field-department input { display: none; }
/*autocomplete*/
.sbq_form_wrap #autocomplete { float: left; /*width: 218px !important;*/ min-height: 30px; margin: 0px; border-left: 1px #eee solid; border-right: 1px #eee solid; border-bottom: 1px #eee solid; position: absolute; z-index: 10; display: block !important; background: url(../image/loading.gif) 50% 50% no-repeat #FFF; overflow: hidden; }
.sbq_form_wrap #autocomplete ul { float: left; width: 100%; }
.sbq_form_wrap #autocomplete li { clear: both; padding: 0px 9px; line-height: 30px; background: #EFF6FA; color: #698EBF; cursor: pointer; }
.sbq_form_wrap #autocomplete li:hover { background: #698EBF; color: #FFF; }
.sbq_form_wrap .sbq_form_01 .element-invisible { display: none!important; }
/*field-name-field-birthday*/
.sbq_form_wrap .field-name-field-birthday { float: left; width: 100%; }
.sbq_form_wrap .field-name-field-birthday label { display: none; }
.sbq_form_wrap .field-name-field-birthday .fieldset-wrapper { float: left; }
.sbq_form_wrap .field-name-field-birthday .date-padding { padding: 0px; }
.sbq_form_wrap .field-name-field-birthday .description { float: left; display: none; }
.sbq_form_wrap .field-name-field-birthday .form-type-date-popup { margin: 0px; }
/*webform-component-textarea*/
.webform-component-textarea label { height: auto; line-height: 26px; padding: 5px 0px; }
/*sbq_tips*/
.sbq_tips { clear: both; width: 350px; line-height: 24px; margin: 0px 0px 0px 10px; font-size: 12px; display: inline-block; }
.sbq_tips .sbq_tips_error { float: left; height: 24px; padding: 5px; border: 1px #E6393D solid; background: #FEF5F1; color: #E6393D; overflow: hidden; }
.sbq_tips .sbq_tips_pass { float: left; height: 24px; padding: 5px; border: 1px #009900 solid; background: #F8FFF0; color: #009900; overflow: hidden; }
.sbq_tips .sbq_tips_text { float: left; height: 24px; padding: 6px; color: #666; overflow: hidden; }
/*captcha*/
.captcha { float: left; width: 100%; padding: 10px 0px; font-size: 14px; position: relative; border: none; }
.captcha legend,
.captcha .fieldset-description,
.captcha .reload-captcha-wrapper,
.captcha .description,
.captcha .form-required { display: none; }
.captcha input { float: left; width: 80px !important; height: 34px; line-height: 34px; padding: 0px 9px; border: 1px #dddddd solid; background: url(../image/input_bg_01.png) repeat-x; }
.captcha input:focus { border: 1px #3385d6 solid; box-shadow: 0px 0px 2px #3385d6; }
.captcha img { float: left; width: 88px; height: 34px; border: 1px #eee solid; margin: 0px 0px 0px 10px; }
.captcha a { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 5px; color: #225599; }
.sbq_form_wrap .sbq_form_02 { float: left; width: 100%; margin: 0px 0px 10px 0px; }
.sbq_form_wrap .sbq_form_02 label { float: left; width: 100%; margin: 0px; font-size: 14px; text-align: left; }
.sbq_form_wrap .sbq_form_02 .description { float: left; width: 100%; margin: 5px 0px 0px 0px; }
