.sbq_hospital_list .sbq_wrap .sbq_title,
.sbq_ranking_news_list .sbq_title,
.sbq_ranking_news_list .sbq_page b,
.sbq_hospital_head .sbq_nav ul li,
.sbq_ranking_hospital_final .sbq_title { font-family: "Microsoft Yahei", "微软雅黑", "Arial" !important; }
/*hide*/
.views-slideshow-controls-top { display: none; }
/*------sbq_hospital_list------*/
.sbq_ranking_hospital_list { float: left; width: 100%; }
.sbq_ranking_hospital_list .sbq_nav { float: left; width: 100%; height: 34px; border-bottom: 2px #1575D5 solid; overflow: hidden; }
.sbq_ranking_hospital_list .sbq_nav a { float: left; height: 32px; line-height: 32px; margin: 0px 5px 0px 0px; padding: 2px 8px 0px 8px; font-size: 14px; font-weight: bold; }
.sbq_ranking_hospital_list .sbq_nav .active { background: #1575D5; color: #FFF; }
/*sbq_filter*/
.sbq_filter { float: left; width: 100%; }
.sbq_filter .sbq_head { float: left; width: 660px; height: 32px; line-height: 32px; padding: 0px 9px; border-left: 1px #E5E5E5 solid; border-right: 1px #E5E5E5 solid; border-bottom: 1px #E5E5E5 solid; }
.sbq_filter .sbq_head .sbq_title { float: left; font-size: 14px; font-weight: bold; }
.sbq_filter .sbq_head a { float: right; color: #225599; }
.sbq_filter .sbq_content { float: left; width: 678px; padding: 5px 0px; border-left: 1px #E5E5E5 solid; border-right: 1px #E5E5E5 solid; }
.sbq_filter .sbq_content dl { float: left; width: 100%; line-height: 24px; padding: 5px 0px; overflow: hidden; }
.sbq_filter .sbq_content dl+dl { border-top: 1px #EEE dotted; }
.sbq_filter .sbq_content dt { float: left; width: 40px; padding: 0px 0px 0px 9px; color: #333; font-weight: bold; }
.sbq_filter .sbq_content dd { float: left; width: 620px; display: block; }
.sbq_filter .sbq_content li a { float: left; height: 24px; line-height: 24px; margin: 0px; padding: 0px 5px; border-radius: 2px; color: #333; text-decoration: none; white-space: nowrap; }
.sbq_filter .sbq_content li { float: left; margin: 0px 5px 2px 0px; }
.sbq_filter .sbq_content li:hover a,
.sbq_filter .sbq_content li.active a { background: #1575D5; color: #FFF; text-decoration: none; overflow: hidden; }
.sbq_filter .sbq_content .sbq_secondary { float: left; width: 620px; margin: 0px 0px 0px 50px; padding: 5px 0px; border-top: 1px #EEE dotted; }
.sbq_filter .sbq_content .select a { background: #1575D5; color: #FFF; }
.sbq_filter .sbq_content .select a i { float: right; width: 12px; height: 12px; margin: 6px 0px 6px 1px; background: url(../image/sbq_close2.png) no-repeat; }
/*sbq_hospital_list*/
.sbq_hospital_list { float: left; width: 100%; }
.sbq_hospital_list .sbq_head { float: left; width: 660px; height: 32px; line-height: 32px; padding: 0px 9px; background: #f6f6f6; border-left: 1px #E5E5E5 solid; border-right: 1px #E5E5E5 solid; border-top: 1px #E5E5E5 solid; }
.sbq_hospital_list .sbq_content { float: left; width: 660px; padding: 5px 9px; border: 1px #E5E5E5 solid; }
.sbq_hospital_list .sbq_title { float: left; font-size: 14px; font-weight: bold; }
.sbq_hospital_list .sbq_sort { float: right; }
.sbq_hospital_list .sbq_item { float: left; width: 100%; padding: 10px 0px; }
.sbq_hospital_list .sbq_item+.sbq_item { border-top: 1px #EEE solid; }
.sbq_hospital_list .sbq_img { float: left; width: 190px; height: 126px; margin: 0px 0px 0px 5px; position: relative; }
.sbq_hospital_list .sbq_img img { float: left; width: 190px; height: 126px; overflow: hidden; }
.sbq_hospital_list .sbq_img i { float: left; width: 30px; height: 40px; position: absolute; top: 0px; left: 0px; background: #069; background: url(../image/sbq_hospital_list_medal.png) no-repeat; }
.sbq_hospital_list .sbq_img .sbq_1st { background-position: -2px 0px; }
.sbq_hospital_list .sbq_img .sbq_2rd { background-position: -2px -40px; }
.sbq_hospital_list .sbq_img .sbq_3th { background-position: -2px -80px; }
.sbq_hospital_list .sbq_wrap { float: left; width: 450px; margin: 0px 5px 0px 10px; }
.sbq_hospital_list .sbq_wrap .sbq_title { float: left; width: 100%; line-height: 26px; margin: 0px 0px 3px 0px; word-break: break-all; word-wrap: break-word; }
.sbq_hospital_list .sbq_wrap .sbq_title a { float: left; max-width: 400px; color: #225599; font-size: 16px; font-weight: bold; }
/*.sbq_hospital_list .sbq_wrap .sbq_title a span { color: #666; font-size: 14px; display: inline; }*/
.sbq_hospital_list .sbq_wrap .sbq_title span { float: right; line-height: 26px; font-size: 12px; }
.sbq_hospital_list .sbq_wrap .sbq_title span b { line-height: 26px; font-size: 14px; }
.sbq_hospital_list .sbq_wrap .sbq_hospital_info { float: left; width: 330px; }
.sbq_hospital_list .sbq_hospital_info ul { float: left; width: 100%; line-height: 24px; }
.sbq_hospital_list .sbq_hospital_info ul li { float: left; width: 100%; }
.sbq_hospital_list .sbq_hospital_info ul li span { float: left; color: #666; }
.sbq_hospital_list .sbq_hospital_info ul li b { margin: 0px 2px 0px 0px; color: #900; font-size: 14px; font-family: "Georgia", "Times New Roman", "Times, serif"; }
.sbq_hospital_list .sbq_hospital_link { float: left; width: 120px; }
.sbq_hospital_list .sbq_hospital_link span { float: left; width: 100%; height: 24px; line-height: 24px; text-align: right; font-family: Arial; overflow: hidden; }
.sbq_hospital_list .sbq_hospital_link span a { float: right; height: 24px; line-height: 24px; padding: 0px 5px; border-radius: 2px; color: #225599; }
.sbq_hospital_list .sbq_hospital_link span a:hover { background: #1575D5; ; color: #FFF; }
.sbq_hospital_list .sbq_page_num { margin: 10px 0px 15px 0px; }
/*------sbq_ranking_sub_nav------*/
.sbq_ranking_sub_nav { float: left; width: 100%; }
.sbq_ranking_sub_nav .sbq_head { float: left; width: 240px; height: 32px; line-height: 32px; padding: 0px 9px; border: 1px #E5E5E5 solid; background: #F6F6F6; }
.sbq_ranking_sub_nav .sbq_title { font-size: 14px; font-weight: bold; }
.sbq_ranking_sub_nav .sbq_content { float: left; width: 258px; border-left: 1px #E5E5E5 solid; border-right: 1px #E5E5E5 solid; border-bottom: 1px #E5E5E5 solid; }
.sbq_ranking_sub_nav .sbq_content dl { float: left; width: 100%; font-size: 14px; }
.sbq_ranking_sub_nav .sbq_content dl+dl { border-top: 1px #E5E5E5 solid; }
.sbq_ranking_sub_nav .sbq_content dl dt,
.sbq_ranking_sub_nav .sbq_content dl dd { float: left; width: 100%; }
.sbq_ranking_sub_nav .sbq_content dl dt { height: 34px; line-height: 34px; font-weight: bold; background: #fcfcfc; }
.sbq_ranking_sub_nav .sbq_content dl dt a { float: left; margin: 0px 0px 0px 10px; }
/*.sbq_ranking_sub_nav .sbq_content .active dt a:hover { color: #FFF; font-weight: bold; background: url(../image/sbq_ranking_sub_nav_arrow.png) no-repeat 235px -34px #4491DD; }*/
/*.sbq_ranking_sub_nav .sbq_content dl dt a:hover { color: #FFF; font-weight: bold; background: url(../image/sbq_ranking_sub_nav_arrow.png) no-repeat 235px 0px #4491DD; }*/
.sbq_ranking_sub_nav .sbq_content dl dt .sbq_fold { float: right; width: 34px; height: 34px; background: url(../image/sbq_ranking_sub_nav_arrow.png) no-repeat; cursor: pointer; }
.sbq_ranking_sub_nav .sbq_content .active dt .sbq_fold { background-position: 0px -34px; }
.sbq_ranking_sub_nav .sbq_content dl dd { border-top: 1px #E5E5E5 solid; font-size: 12px; display: none; }
.sbq_ranking_sub_nav .sbq_content dl dd .on,
.sbq_ranking_sub_nav .sbq_content dl dd a:hover { color: #225599; background: #EFF6FA; }
.sbq_ranking_sub_nav .sbq_content ul { float: left; width: 100%; padding: 0px 0px; }
.sbq_ranking_sub_nav .sbq_content ul li { float: left; width: 111px; padding: 5px 9px; }
.sbq_ranking_sub_nav .sbq_content ul li a { float: left; height: 26px; line-height: 26px; padding: 0px 5px; border-radius: 2px; overflow: hidden; word-wrap: break-word; word-break: break-all; }
/*------hospital_all------*/
.hospital_all { float: left; width: 700px; }
.hospital_all dl { float: left; width: 338px; margin: 0px 10px 10px 0px; border: 1px #E5E5E5 solid; }
.hospital_all dl dt { float: left; width: 320px; padding: 0px 9px; height: 32px; line-height: 32px; border-bottom: 1px #E5E5E5 solid; font-size: 14px; font-weight: bold; background: #F6F6F6; overflow: hidden; }
.hospital_all dl dd { float: left; width: 100%; }
.hospital_all ul { float: left; width: 100%; height: 349px; overflow: hidden; }
.hospital_all ul li { float: left; width: 320px; height: 34px; padding: 0px 9px; overflow: hidden; }
.hospital_all ul li+li { border-top: 1px #CCCCCC dotted; }
.hospital_all ul li span { float: left; width: 20px; height: 20px; line-height: 20px; margin: 7px 9px 7px 0px; border-radius: 2px; text-align: center; background: #CCCCCC; color: #FFF; font-family: Arial; }
.hospital_all ul .on span { background: #4491DD; }
.hospital_all ul li a { float: left; height: 34px; line-height: 34px; max-width: 291px; overflow: hidden; }
.hospital_all ul li a:hover { text-decoration: underline; }
/*------sbq_ranking_hospital_final------*/
.sbq_hospital_head { float: left; width: 100%; margin: 0px 0px 20px 0px; }
.sbq_hospital_head .sbq_nav { float: left; width: 100%; height: 42px; border-bottom: 1px #E5E5E5 solid; }
.sbq_hospital_head .sbq_nav ul { float: left; }
.sbq_hospital_head .sbq_nav ul li { float: left; margin: 0px; border-top: 1px #E5E5E5 solid; background: #f3f3f3; }
.sbq_hospital_head .sbq_nav ul li a { float: left; width: 100px; height: 40px; line-height: 40px; padding: 0px 8px 1px 8px; border-right: 1px #E5E5E5 solid; font-size: 16px; text-align: center; }
.sbq_hospital_head .sbq_nav ul li:first-child a { border-left: 1px #E5E5E5 solid; }
.sbq_hospital_head .sbq_nav .active { border-top: 2px #1575D5 solid; background: #fff; }
.sbq_hospital_head .sbq_nav .active a { }
.sbq_ranking_hospital_final > .sbq_title { float: left; width: 100%; line-height: 36px; font-size: 24px; }
.sbq_ranking_hospital_final { float: left; width: 100%; }
.sbq_ranking_hospital_final > .sbq_head { float: left; width: 100%; height: 30px; line-height: 30px; }
.sbq_ranking_hospital_final .sbq_info { float: left; width: 100%; margin: 10px 0px 0px 0px; }
.sbq_ranking_hospital_final .sbq_info .sbq_img { float: left; padding: 9px; border: 1px #CCC solid; box-shadow: 0px 0px 3px #CCCCCC; }
.sbq_ranking_hospital_final .sbq_info .sbq_img img { width: 240px; height: 160px; overflow: hidden; }
/*sbq_summary*/
.sbq_ranking_hospital_final .sbq_summary { float: left; width: 410px; margin: 0px 0px 0px 10px; }
.sbq_ranking_hospital_final .sbq_summary ul { float: left; width: 330px; line-height: 32px; }
.sbq_ranking_hospital_final .sbq_summary li { float: left; width: 100%; font-size: 14px; word-break: break-all; word-wrap: break-word; }
.sbq_ranking_hospital_final .sbq_summary li a { color: #225599; font-family: Arial; word-break: break-all; word-wrap: break-word; }
.sbq_ranking_hospital_final .sbq_summary li a:hover { text-decoration: underline; }
.sbq_ranking_hospital_final .sbq_summary span { color: #999; }
/*sbq_score*/
.sbq_ranking_hospital_final .sbq_summary .sbq_score { float: left; width: 70px; margin: 0px 0px 0px 10px; text-align: center; }
.sbq_ranking_hospital_final .sbq_summary .sbq_score b { float: left; width: 100%; line-height: 60px; text-align: center; color: #1575D5; font-size: 34px; background: #EFF6FA; font-family: Arial; }
.sbq_ranking_hospital_final .sbq_summary .sbq_score span { float: left; width: 100%; line-height: 24px; text-align: center; color: #FFF; font-size: 12px; background: #1575D5; }
.sbq_ranking_hospital_final .sbq_summary .sbq_score a { float: left; width: 68px; line-height: 24px; margin: 5px 0px 0px 0px; border-radius: 2px; color: #FFFFFF; border: 1px #0D6EB8 solid; background: #1575D5; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.196) inset, 0px 1px 0px rgba(0, 0, 0, 0.196); }
/*sbq_wrap*/
.sbq_ranking_hospital_final .sbq_wrap { float: left; width: 650px; margin: 15px 0px 0px 0px; padding: 10px 14px; border: 1px #e5e5e5 solid; }
.sbq_ranking_hospital_final .sbq_wrap .sbq_head { float: left; width: 100%; line-height: 32px; border-bottom: 1px #e5e5e5 solid; }
.sbq_ranking_hospital_final .sbq_wrap:hover .sbq_head .sbq_edit { display: block; }
.sbq_ranking_hospital_final .sbq_wrap .sbq_title { float: left; font-size: 18px; color: #225599; }
.sbq_ranking_hospital_final .sbq_wrap .sbq_title b { color: #666; font-size: 14px; font-weight: normal; }
.sbq_ranking_hospital_final .sbq_wrap .sbq_edit { float: right; display: none; }
.sbq_ranking_hospital_final .sbq_wrap .sbq_edit a { color: #225599; }
.sbq_ranking_hospital_final .sbq_wrap .sbq_content { float: left; width: 100%; padding: 10px 0px 0px 0px; }
/*sbq_departments*/
.sbq_ranking_hospital_final .sbq_wrap.sbq_departments dl { float: left; width: 100%; line-height: 26px; padding: 5px 0px; font-size: 14px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_departments dl+dl { border-top: 1px #E5E5E5 dashed; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_departments dt { float: left; width: 110px; text-align: center; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_departments dd { float: left; width: 540px; font-size: 12px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_departments dd a { color: #225599; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_departments dd a:hover { text-decoration: underline; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_departments dd b { margin: 0px 2px; color: #ff9900; font-family: Arial; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_departments dd span { float: left; width: 175px; margin: 0px 5px 0px 0px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_departments dd em { color: #999; font-style: normal; white-space: nowrap; }
/*sbq_text*/
.sbq_ranking_hospital_final .sbq_wrap.sbq_text .sbq_content { font-size: 14px; line-height: 26px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_text .sbq_content b { font-weight: bold; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_text .sbq_content p { padding: 0px 0px 22px 0px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_text .sbq_content u { text-decoration: underline; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_text .sbq_content em { font-style: italic; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_text .sbq_content img { max-width: 600px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_text .sbq_content .rtecenter { text-align: center; }
/*sbq_details*/
.sbq_ranking_hospital_final .sbq_wrap.sbq_details .sbq_content { font-size: 14px; line-height: 30px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dl { float: left; width: 50%; overflow: hidden; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dl.all { float: left; width: 100%; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dl.all dd { float: left; width: 560px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dt { float: left; width: 90px; font-weight: bold; text-align: right; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dd { float: left; width: 235px; word-break: break-all; word-wrap: break-word; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dd a { color: #225599; font-family: Arial; word-break: break-all; word-wrap: break-word; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dd a:hover { text-decoration: underline; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dd em { height: 30px; line-height: 30px; margin: 0px 0px 0px 5px; padding: 0px 0px 0px 18px; background: url(../image/edit_error.png) no-repeat; background-position: left 0px; color: #c7c7c7; font-style: normal; cursor: pointer; display: none; font-weight: bold; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dd em:hover { background-position: left -30px; color: #1575D5; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_details dd:hover em { display: inline-block; }
/*sbq_score_form*/
.sbq_ranking_hospital_final .sbq_score_info { float: left; width: 100%; margin: 10px 0px 0px 0px; }
.sbq_ranking_hospital_final .sbq_score_info .sbq_score { float: left; width: 70px; margin: 26px 0px 0px 0px; text-align: center; }
.sbq_ranking_hospital_final .sbq_score_info .sbq_score b { float: left; width: 100%; line-height: 60px; text-align: center; color: #1575D5; font-size: 34px; background: #EFF6FA; font-family: Arial; }
.sbq_ranking_hospital_final .sbq_score_info .sbq_score span { float: left; width: 100%; line-height: 24px; text-align: center; color: #FFF; font-size: 12px; background: #1575D5; }
.sbq_ranking_hospital_final .sbq_score_info .sbq_left { float: left; width: 600px; margin: 0px 10px 0px 0px; }
/*sbq_answer_form*/
.sbq_ranking_hospital_final .sbq_score_form { float: left; width: 600px; margin: 0px 0px 0px 0px; line-height: 22px; font-size: 12px; }
.sbq_ranking_hospital_final .sbq_score_form label { float: left; height: 26px; line-height: 26px; font-size: 14px; font-weight: bold; color: #666; }
.sbq_ranking_hospital_final .sbq_score_form label .form-required { display: none; }
.sbq_ranking_hospital_final .sbq_score_form .cke_bottom,
.sbq_ranking_hospital_final .sbq_score_form .ckeditor_links,
.sbq_ranking_hospital_final .sbq_score_form .element-invisible { display: none !important; }
.sbq_ranking_hospital_final .sbq_score_form .form-actions { float: right; width: 70px; height: 30px; margin: 10px 0px 0px 0px; position: relative; }
.sbq_ranking_hospital_final .sbq_score_form .form-actions input { float: left; width: 70px; height: 30px; line-height: 34px; margin: 0px; padding: 0px; border-radius: 3px; border: 1px #0D6EB8 solid; background: #1575d5; font-size: 14px; color: #FFF; overflow: hidden; }
.sbq_ranking_hospital_final .sbq_score_form .form-actions .ajax-progress { float: left; width: 72px; height: 32px; overflow: hidden; position: absolute; top: -1px; left: -1px; }
.sbq_ranking_hospital_final .sbq_score_form .form-actions .ajax-progress .throbber { display: none; }
.sbq_ranking_hospital_final .sbq_score_form .form-actions .ajax-progress .message { float: left; width: 70px; height: 32px; line-height: 34px; border-radius: 3px; border: 1px #818181 solid; background: #999; color: #FFF; font-size: 14px; text-align: center; overflow: hidden; }
.sbq_ranking_hospital_final .sbq_score_form .form-textarea-wrapper textarea { float: left; width: 580px; min-height: 24px; line-height: 24px; margin: 0px; padding: 5px 9px; border: 1px #CCC solid; background: #FFF; box-shadow: 0px 1px 3px #CCC inset; border-radius: 3px; resize: none; overflow: hidden; color: #333; font-size: 14px; }
.sbq_ranking_hospital_final .sbq_score_form_radio { float: left; margin: 10px 0px 0px 0px; }
.sbq_ranking_hospital_final .sbq_score_form_radio .form-radios { float: left; font-size: 12px; }
.sbq_ranking_hospital_final .sbq_score_form_radio .form-type-radios > label { display: none; }
.sbq_ranking_hospital_final .sbq_score_form_radio .form-type-radio { float: left; margin: 0px 5px 0px 0px; }
.sbq_ranking_hospital_final .sbq_score_form_radio .form-type-radio label { line-height: 22px; padding: 0px 0px 0px 18px; color: #333; font-size: 12px; font-weight: normal; background: url(../image/sbq_sore.png) no-repeat; }
.sbq_ranking_hospital_final .sbq_score_form_radio .form-type-radio label.good { background-position: left 0px; }
.sbq_ranking_hospital_final .sbq_score_form_radio .form-type-radio label.normal { background-position: left -22px; }
.sbq_ranking_hospital_final .sbq_score_form_radio .form-type-radio label.bad { background-position: left -44px; }
.sbq_ranking_hospital_final .sbq_score_form_radio input { float: left; width: 14px; height: 14px; margin: 4px 2px 0px 2px; }
/*------messages------*/
.sbq_ranking_hospital_final .messages.warning { display: none; }
.sbq_ranking_hospital_final .messages.error { width: 100%; line-height: 22px; margin: 0px 0px 5px 0px; color: #900; }
.sbq_ranking_hospital_final .messages .element-invisible { display: none; }
/*sbq_score_num*/
.sbq_ranking_hospital_final .sbq_score_num { float: right; margin: 8px 0px 0px 0px; }
.sbq_ranking_hospital_final .sbq_score_num li { float: left; height: 22px; line-height: 22px; margin: 0px 0px 0px 5px; }
.sbq_ranking_hospital_final .sbq_score_num li b { margin: 0px 2px; color: #1575D5; font-family: Arial; }
.sbq_ranking_hospital_final .sbq_score_num li.good,
.sbq_ranking_hospital_final .sbq_score_num li.normal,
.sbq_ranking_hospital_final .sbq_score_num li.bad { padding: 0px 0px 0px 18px; background: url(../image/sbq_sore.png) no-repeat; }
.sbq_ranking_hospital_final .sbq_score_num li.good { background-position: left 0px; }
.sbq_ranking_hospital_final .sbq_score_num li.normal { background-position: left -22px; }
.sbq_ranking_hospital_final .sbq_score_num li.bad { background-position: left -44px; }
/*sbq_score_list*/
.sbq_ranking_hospital_final .sbq_wrap.sbq_score_list .sbq_content { padding: 0px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_score_list .sbq_score_item { float: left; width: 100%; padding: 10px 0px; border-bottom: 1px #E5E5E5 dotted; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_score_list .sbq_user_pic,
.sbq_ranking_hospital_final .sbq_wrap.sbq_score_list .sbq_user_pic img { float: left; width: 40px; height: 40px; overflow: hidden; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_score_list .sbq_right { float: left; width: 600px; margin: 0px 0px 0px 10px; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_user_name { float: left; height: 22px; line-height: 22px; font-size: 12px; font-weight: bold; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_user_name a { color: #225599; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_user_name a:hover { text-decoration: underline; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_score { float: right; height: 22px; line-height: 22px; padding: 0px 0px 0px 18px; background: url(../image/sbq_sore.png) no-repeat; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_score.good { background-position: left 0px; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_score.normal { background-position: left -22px; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_score.bad { background-position: left -44px; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_text { float: left; width: 100%; line-height: 26px; margin: 0px 0px; font-size: 14px; word-break: break-all; word-wrap: break-word; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_date { float: left; width: 100%; height: 22px; line-height: 22px; color: #999; font-family: Arial; }
.sbq_ranking_hospital_final .sbq_score_list .sbq_page_num { margin: 10px 0px; }
/*sbq_address*/
.sbq_ranking_hospital_final .sbq_wrap.sbq_address .sbq_content { padding: 0px; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_address ul { float: left; width: 100%; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_address ul li { clear: both; line-height: 40px; padding: 0px 10px; font-size: 14px; border-bottom: 1px #CCCCCC dotted; word-break: break-all; word-wrap: break-word; }
.sbq_ranking_hospital_final .sbq_wrap.sbq_address ul li span { font-weight: bold; }
.sbq_ranking_hospital_final #dituContent { border: none !important; }
/*sbq_follow*/
.sidebar_second .sbq_follow { float: left; width: 100%; }
.sidebar_second .sbq_follow .sbq_follow_btn { float: left; width: 100%; margin: 0px 0px 15px 0px; }
.sbq_hospital_head .add_hospital { float: right; }
.sbq_hospital_head .add_hospital a { float: left; width: 78px; height: 32px; line-height: 32px; border: 1px #6D8F29 solid; border-radius: 3px; border: 1px #0D6EB8 solid; background: #1575D5; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.196) inset, 0px 1px 0px rgba(0, 0, 0, 0.196); font-size: 14px; color: #FFFFFF; text-align: center; overflow: hidden; }
/*------sbq_ranking_news_list------*/
.sbq_ranking_news_list { float: left; width: 100%; }
.sbq_ranking_news_list .sbq_nav { float: left; width: 100%; height: 34px; overflow: hidden; }
.sbq_ranking_news_list .sbq_nav span a { float: left; height: 32px; line-height: 32px; margin: 0px 5px 0px 0px; padding: 2px 8px 0px 8px; font-size: 14px; font-weight: bold; }
.sbq_ranking_news_list .sbq_page { float: right; height: 30px; line-height: 30px; border: 1px #e5e5e5 solid; background: #F3F3F3; }
.sbq_ranking_news_list .sbq_page b { float: left; padding: 0px 5px; font-size: 14px; border-left: 1px #E5E5E5 solid; border-right: 1px #E5E5E5 solid; }
.sbq_ranking_news_list .sbq_page a,
.sbq_ranking_news_list .sbq_page span { float: left; width: 30px; height: 30px; background: url(../image/sbq_arrow.png) no-repeat; }
.sbq_ranking_news_list .sbq_page a.sbq_prev { float: left; background-position: 0px -30px; }
.sbq_ranking_news_list .sbq_page a.sbq_next { float: right; background-position: 0px 0px; }
.sbq_ranking_news_list .sbq_page span.sbq_prev { float: left; background-position: 0px -90px; }
.sbq_ranking_news_list .sbq_page span.sbq_next { float: right; background-position: 0px -60px; }
.sbq_ranking_news_list .sbq_content { float: left; width: 100%; }
.sbq_ranking_news_list .sbq_item { float: left; width: 100%; padding: 8px 0px; border-bottom: 1px #e5e5e5 dotted; }
.sbq_ranking_news_list .sbq_item:hover { background: #FCFCFC; }
.sbq_ranking_news_list .sbq_item .sbq_num { float: left; width: 60px; height: 100px; line-height: 100px; margin: 0px 5px 0px 0px; text-align: center; color: #FFF; font-size: 48px; font-family: "Arial"; overflow: hidden; }
.sbq_ranking_news_list .sbq_item .sbq_img { float: left; width: 125px; height: 100px; overflow: hidden; }
.sbq_ranking_news_list .sbq_item .sbq_img img { float: left; width: 125px; height: 100px; overflow: hidden; }
.sbq_ranking_news_list .sbq_item .sbq_wrap { float: left; width: 485px; margin: 0px 0px 0px 5px; }
.sbq_ranking_news_list .sbq_item .sbq_wrap .sbq_title { float: left; width: 100%; height: 26px; line-height: 26px; margin: 0px 0px 4px 0px; overflow: hidden; }
.sbq_ranking_news_list .sbq_item .sbq_wrap .sbq_title a { font-size: 20px; color: #225599; font-weight: normal; }
.sbq_ranking_news_list .sbq_item .sbq_wrap .sbq_title a:hover { text-decoration: underline; }
.sbq_ranking_news_list .sbq_item .sbq_wrap .sbq_text { float: left; width: 465px; padding: 10px; line-height: 24px; font-size: 14px; background: #f3f3f3; border-top: 1px #e5e5e5 solid; border-bottom: 1px #e5e5e5 solid; }
.sbq_ranking_news_list .sbq_item .sbq_wrap .sbq_text span { float: left; width: 100%; height: 48px; overflow: hidden; display: block; word-break: break-all; word-wrap: break-word; }
/*rb*/
.sbq_ranking_news_list.sbq_red .sbq_nav .active { background: #DE2D3E; color: #FFF; }
.sbq_ranking_news_list.sbq_red .sbq_nav { border-bottom: 2px #DE2D3E solid; }
.sbq_ranking_news_list.sbq_red .sbq_item .sbq_num { background: #ff4f56; }
.sbq_ranking_news_list.sbq_black .sbq_nav .active { background: #5e5e5e; color: #FFF; }
.sbq_ranking_news_list.sbq_black .sbq_nav { border-bottom: 2px #5e5e5e solid; }
.sbq_ranking_news_list.sbq_black .sbq_item .sbq_num { background: #909090; }
