/*------sbq_form------*/
.sbq_form_01 { float: left; width: 100%; padding: 10px 0px; font-size: 14px; position: relative; }
.sbq_form_01 label,
.sbq_botton_01 label { float: left; width: 110px; height: 36px; line-height: 36px; margin: 0px 10px 0px 0px; text-align: right; }
.sbq_form_01 input { float: left; width: 200px; height: 34px; line-height: 34px; padding: 0px 9px; border: 1px #dddddd solid; background: url(../image/input_bg_01.png) repeat-x; }
.sbq_form_01 input:focus { border: 1px #3385d6 solid; box-shadow: 0px 0px 2px #3385d6; }
.sbq_botton_01 { float: left; width: 100%; padding: 10px 0px; }
.sbq_login_btn { float: left; width: 80px; height: 36px; line-height: 36px; padding: 0px; border: none; border-radius: 3px; background: #1575D5; color: #FFF; font-size: 14px; }
.sbq_link { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 5px; }
.sbq_link a { color: #225599; }
.sbq_checkbox_01 { float: left; line-height: 26px; padding: 5px 0px 5px 120px; }
.sbq_checkbox_01 input { float: left; height: 26px; line-height: 26px; }
.sbq_checkbox_01 label { float: left; height: 26px; line-height: 26px; margin: 0px 5px; }
.sbq_checkbox_01 label a { font-weight: bold; padding: 0px 2px; }
.sbq_tips_error { float: left; width: 210px; line-height: 20px; padding: 8px 5px 0px 5px; position: absolute; top: 38px; left: 120px; background: url(../image/error_bg.png) center top no-repeat; color: #E6393D; font-size: 12px; display: none; }
/*------sbq_login------*/
.sbq_login { float: left; width: 500px; }
.sbq_login .sbq_login_head { float: left; width: 100%; height: 50px; background: url(../image/sbq_login_head_bg.png) left; }
.sbq_login .sbq_login_content { float: left; width: 100%; padding: 30px 0px; background: #FCFCFC; }
/*------sbq_reg------*/
.sbq_reg { width: 700px; margin: 0 auto; }
.sbq_reg .sbq_reg_head { float: left; width: 100%; height: 50px; background: url(../image/sbq_reg_head_bg.png) left; }
.sbq_reg .sbq_reg_content { float: left; width: 100%; padding: 30px 0px; background: #fcfcfc; }
.body { float: left; width: 100%; margin-top: 60px; }
.main { width: 800px; padding: 0px 100px; margin: 0 auto; }
