#user-register-form .description{
	position: absolute;
	float: right;
	width: 40%;
	margin-left: 52%;
	margin-top: 0px;
}
#user-register-form .password-suggestions {
	position: absolute;
	float: right;
	width: 20%;
	margin-left: 27%;
}
#user-register-form .confirm-parent .description,
#user-register-form .password-strength {
	display: none;
}

#user-register-form .text {
	font-size: 12px;
	margin-left: 14px;
	color: #999;
}
#user-register-form .captcha img,#user-login .captcha img{
	float: right;
	position: absolute;
	right: 367px;
}
#user-register-form .reload-captcha-wrapper,#user-login .reload-captcha-wrapper{
	display: block;
	position: absolute;
	right: 337px;
}